Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

Update ICodec.sol
  packages/protocol/contracts/layer1/shasta/iface/ICodec.sol
Due: none

forge fmt & update contract layout tables
  packages/protocol/snapshots/shasta-propose.json
Due: repo

feat(protocol): add tolba network configuration for DCAP SGX verifier (#20239)
  packages/protocol/script/layer1/provers/config_dcap_sgx_verifier.sh
Due: none

Update api.go
  packages/relayer/api/api.go
Due: none

update taiko-geth version
  go.mod
  go.sum
Due: none

Improve Shasta finalization tests
  packages/protocol/test/layer1/shasta/inbox/suite2/finalize/AbstractFinalizeTest.t.sol
Due: none

feat(protocol): add prover into public inputs
  packages/protocol/contracts/layer1/shasta/iface/IProofVerifier.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/verifiers/LibPublicInput.sol
  packages/protocol/contracts/layer1/shasta/verifiers/ShastaRisc0Verifier.sol
  packages/protocol/contracts/layer1/shasta/verifiers/ShastaSP1Verifier.sol
  packages/protocol/contracts/layer1/shasta/verifiers/ShastaSgxVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/ComposeVerifier.sol
Due: none

Simplify Shasta finalization helpers
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/finalize/AbstractFinalizeTest.t.sol
Due: repo

bench: add multi-proposal finalize gas snapshots
  packages/protocol/snapshots/shasta-finalize.json
  packages/protocol/test/layer1/shasta/inbox/suite2/finalize/AbstractFinalizeTest.t.sol
Due: repo

chore(protocol): fix typo in internal method name (Deadlinestamp → Timestamp) to match behavior
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
Due: none

feat: update CalculateBaseFee
  packages/taiko-client/pkg/rpc/methods.go
Due: none

bench: capture propose gas with full ring buffer
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
Due: repo

bench: capture propose gas with full ring buffer
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
Due: none

+
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
Due: repo

Update SignalService.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
Due: none

Update CHANGELOG.md
  packages/taiko-client/CHANGELOG.md
Due: repo

Refactor shasta suite2 helpers for new derivation format
  packages/protocol/snapshots/shasta-finalize.json
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/finalize/AbstractFinalizeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1BlobOffsetTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1ConsecutiveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1MultipleBlobsTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
Due: repo

Update CHANGELOG.md
  packages/protocol/CHANGELOG.md
Due: repo

change according to taiko-reth
  packages/docs-site/src/content/docs/network-reference/differences-from-ethereum.md
Due: repo

remove proposer section
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
Due: none

use ownable2step
  packages/protocol/contracts/layer1/shasta/verifiers/ShastaRisc0Verifier.sol
  packages/protocol/contracts/layer1/shasta/verifiers/ShastaSP1Verifier.sol
  packages/protocol/contracts/layer1/shasta/verifiers/ShastaSgxVerifier.sol
Due: none

feat(protocol): make verifiers non upgradable (#20225)
  packages/protocol/contracts/layer1/shasta/verifiers/ShastaRisc0Verifier.sol
  packages/protocol/contracts/layer1/shasta/verifiers/ShastaSP1Verifier.sol
  packages/protocol/contracts/layer1/shasta/verifiers/ShastaSgxVerifier.sol
Due: none

fix ctor
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

fix bridge info
  packages/bridge-ui/src/libs/bridge/Bridge.ts
Due: bridge-ui

agents.md
  Agents.md
  packages/protocol/Agents.md
Due: repo

l1 node
  packages/docs-site/src/content/docs/guides/app-developers/bridge-tokens.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-an-ethereum-testnet-node.mdx
Due: none

+
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

feat(protocol): lookahead store and eip-7917 based slasher for shasta (#19931)
  packages/protocol/contracts/layer1/preconf/iface/IBlacklist.sol
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadSlasher.sol
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/Blacklist.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadSlasher.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter2.sol
  packages/protocol/contracts/layer1/preconf/libs/LibBeaconMerkleUtils.sol
  packages/protocol/contracts/layer1/preconf/libs/LibBlockHeader.sol
  packages/protocol/contracts/layer1/preconf/libs/LibEIP4788.sol
  packages/protocol/contracts/layer1/preconf/libs/LibPreconfUtils.sol
  packages/protocol/contracts/shared/tokenvault/BaseVault.sol
  packages/protocol/foundry.toml
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/package.json
  packages/protocol/test/layer1/preconf/beacon/BeaconProofsVerification.t.sol
  packages/protocol/test/layer1/preconf/fixtures/BeaconProofs.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStoreBase.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStore_PostedByOperator.t.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStore_PostedByProtectorOrWhitelistedPreconfer.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter2.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter2TestBase.sol
  packages/protocol/test/layer1/preconf/slasher/data/BlockHeader.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.t.sol
  pnpm-lock.yaml
Due: repo

Flatten shasta inbox test suite structure
  packages/protocol/CLAUDE.md
  packages/protocol/test/layer1/shasta/inbox/InboxOptimized2Helper.t.sol
  packages/protocol/test/layer1/shasta/inbox/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/common/InboxTestSetup.sol
  packages/protocol/test/layer1/shasta/inbox/common/PreconfWhitelistSetup.sol
  packages/protocol/test/layer1/shasta/inbox/deployers/IInboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/finalize/AbstractFinalizeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/finalize/InboxFinalize.t.sol
  packages/protocol/test/layer1/shasta/inbox/finalize/InboxOptimized1Finalize.t.sol
  packages/protocol/test/layer1/shasta/inbox/finalize/InboxOptimized2Finalize.t.sol
  packages/protocol/test/layer1/shasta/inbox/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/mocks/MockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/propose/InboxOptimized1BlobOffsetTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/propose/InboxOptimized1ConsecutiveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/propose/InboxOptimized1MultipleBlobsTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/propose/InboxOptimized1Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/propose/InboxOptimized2Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/propose/InboxPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/prove/InboxOptimized1Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/prove/InboxOptimized2Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/prove/InboxProve.t.sol
Due: repo

.
  packages/docs-site/src/content/docs/guides/app-developers/receive-tokens.mdx
Due: none

fix constructor
  packages/protocol/contracts/layer1/shasta/verifiers/ShastaSgxVerifier.sol
Due: none

feat(protocol): rename BondInstruction.receiver to BondInstruction.payee
  packages/protocol/contracts/layer1/shasta/libs/LibBondsL1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/shared/shasta/libs/LibBonds.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/based/libs/LibBondsGasTest.t.sol
  packages/protocol/test/layer1/based/libs/LibHashingGasTest.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProvedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/libs/LibHashing.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibHashing.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.t.sol
Due: repo

link codec from inbox
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaDevnetInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaMainnetInbox.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1BlobOffsetTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1ConsecutiveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1MultipleBlobsTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
Due: repo

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
Due: repo

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

docs(protocol): correct recallMessage comment to reflect dest-chain failure and source-chain recall (#20236)
  packages/protocol/contracts/shared/bridge/IBridge.sol
Due: none

rename function
  packages/protocol/contracts/layer1/shasta/iface/ICodec.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/OptimizedCodec.sol
  packages/protocol/contracts/layer1/shasta/impl/SimpleCodec.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/based/libs/LibHashingGasTest.t.sol
  packages/protocol/test/layer1/shasta/libs/LibHashing.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibHashing.t.sol
Due: none
