Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

bridge-ui:
  run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint && git add {staged_files}

repo:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

feat: test
  packages/taiko-client/driver/chain_syncer/event/syncer.go
Due: none

feat: test
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
Due: none

feat: test
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/pkg/rpc/methods.go
Due: none

feat: test
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  packages/taiko-client/pkg/rpc/methods_test.go
Due: none

feat(protocol): implement multi-source derivation in Inbox (#20210)
  L1_TEST_STATUS.md
  MULTI_SOURCE_DERIVATION_SUMMARY.md
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/foundry.toml
  packages/protocol/gas-reports/LibProposeInputDecoder.md
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/based/libs/LibHashingGasTest.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol
  packages/protocol/test/layer1/shasta/libs/MultiSourceEncodingTest.t.sol
Due: repo

more
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol
  packages/protocol/test/layer1/shasta/libs/MultiSourceEncodingTest.t.sol
Due: none

more
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

chore
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

fix(bridge-ui): improve error handling in BridgeTxService._enhanceTx
  packages/bridge-ui/src/libs/storage/BridgeTxService.ts
Due: bridge-ui

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

refactor(protocol): improve `prove` gas cost for 1 transition (#20196)
  packages/protocol/.gas-snapshot
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
Due: repo

Update InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
Due: none

chore
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/shared/shasta/libs/LibCheckpointStore.t.sol
Due: repo

remove profile `layer1o`
  packages/protocol/contracts/layer1/shasta/impl/DevnetShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol.disabled
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized4.sol.disabled
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
  packages/protocol/foundry.toml
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
Due: none

Revert "remove profile `layer1o`"
  packages/protocol/contracts/layer1/shasta/impl/DevnetShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol.disabled
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized4.sol.disabled
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
  packages/protocol/foundry.toml
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
Due: none

multi-source
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol.bk
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol.bk
  packages/protocol/test/layer1/based/InboxTest_BondToken.t.sol.bk
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol.bk
  packages/protocol/test/layer1/based/InboxTest_Cooldown.t.sol.bk
  packages/protocol/test/layer1/based/InboxTest_EtherAsBond.t.sol.bk
  packages/protocol/test/layer1/based/InboxTest_ForkBoundaries.t.sol.bk
  packages/protocol/test/layer1/based/InboxTest_OffchainProverAuth.t.sol.bk
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol.bk
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol.bk
  packages/protocol/test/layer1/based/InboxTest_StopBatch.t.sol.bk
  packages/protocol/test/layer1/based/helpers/StubInbox.sol.bk
Due: none

chore
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol.disabled
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized4.sol.disabled
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
Due: none

tmp
  packages/protocol/contracts/layer1/shasta/impl/DevnetShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxHelper.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol.disabled
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized4.sol.disabled
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
  packages/protocol/foundry.toml
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_BondToken.t.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/InboxTest_Cooldown.t.sol
  packages/protocol/test/layer1/based/InboxTest_EtherAsBond.t.sol
  packages/protocol/test/layer1/based/InboxTest_ForkBoundaries.t.sol
  packages/protocol/test/layer1/based/InboxTest_OffchainProverAuth.t.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/based/InboxTest_StopBatch.t.sol
  packages/protocol/test/layer1/based/helpers/StubInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/PreconfWhitelistSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/IInboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/mocks/MockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized1Prove.t.sol
Due: repo

compiles
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxHelper.sol
  packages/protocol/gas-reports/inbox_without_provermarket.txt
Due: none

compiles
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

compiles
  packages/protocol/contracts/layer1/shasta/impl/InboxHelper.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
Due: repo

fix
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1BlobOffsetTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1ConsecutiveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1MultipleBlobsTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Propose.t.sol
Due: none

chore
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxHelper.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
Due: repo

UpgradeVerifier
  packages/protocol/script/layer1/tolba/UpgradeVerifier.s.sol
Due: none

more
  packages/protocol/contracts/layer1/shasta/impl/InboxHelper.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol.bak
  packages/protocol/contracts/layer1/shasta/libs/LibProveInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol.bak
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized3Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized2Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized3Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized3Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxProve.t.sol
  packages/protocol/test/layer1/shasta/libs/LibHashing.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.t.sol
Due: repo

m
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
Due: repo

feat: update driver `Start()`
  packages/taiko-client/driver/driver.go
Due: none

m
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol
Due: none

compiles
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol.disabled
Due: none

lib restored
  packages/protocol/contracts/layer1/shasta/impl/InboxHelper.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/PreconfWhitelistSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/IInboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized3Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/mocks/MockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1BlobOffsetTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1ConsecutiveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1MultipleBlobsTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized3Prove.t.sol
  packages/protocol/test/layer1/shasta/libs/LibPackUnpack.t.sol
  packages/protocol/test/layer1/shasta/libs/LibPackUnpackFuzz.t.sol
Due: repo

fix
  packages/protocol/contracts/layer1/shasta/impl/InboxHelper.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/libs/LibHashingFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoderFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoderFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.fuzz.t.sol
Due: repo

fix
  packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol.disabled
  packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveInputDecoderGas.t.sol.disabled
  packages/protocol/test/layer1/shasta/benchmark/LibProvedEventEncoderGas.t.sol
Due: none

fix
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol.disabled
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol.disabled
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol.disabled
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized2Propose.t.sol.disabled.bak
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol.disabled.bak
Due: repo

fix
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol.disabled
  packages/protocol/contracts/layer1/shasta/libs/LibProposeInputDecoder.sol.disabled
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol.bak
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol.disabled
  packages/protocol/contracts/layer1/shasta/libs/LibProveInputDecoder.sol.disabled
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol.bak
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol.disabled
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized3Deployer.sol.disabled.bak
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized3.sol.disabled.bak
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized2Propose.t.sol.disabled.bak
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized3Propose.t.sol.disabled.bak
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol.disabled.bak
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized3Prove.t.sol.disabled.bak
  packages/protocol/test/layer1/shasta/libs/LibHashing.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibPackUnpack.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol.disabled
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol.disabled
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.t.sol.disabled
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.t.sol.disabled
Due: none

Path conditions:
  bridge-ui: any of: packages/bridge-ui/**.{js,ts,css,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo: any of: **.{json,md,yaml,yml}
