Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui-v2, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui-v2:
      glob: "packages/bridge-ui-v2/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui-v2 svelte:check && pnpm -F bridge-ui-v2 lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

Update test_config.js
  packages/protocol/genesis/test_config.js
Due: none

refactor: change to variable for css
  packages/bridge-ui-v2/src/styles/override.css
Due: bridge-ui-v2

refactor utils in status-page
  packages/status-page/src/utils/displayStatusValue.ts
Due: none

Delete Unknown.pdf
  packages/Unknown.pdf
Due: none

Update LibFixedPointMath.t.sol
  packages/protocol/test/libs/LibFixedPointMath.t.sol
Due: none

more
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/script/AuthorizeRemoteTaikoProtocols.s.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/SetAddress.s.sol
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
  packages/protocol/test/DeployCapability.sol
  packages/protocol/test/HelperContracts.sol
  packages/protocol/test/L1/Guardians.t.sol
  packages/protocol/test/L1/SgxVerifier.t.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L2/Lib1559Math.t.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/protocol/test/common/EssentialContract.t.sol
  packages/protocol/test/libs/LibFixedPointMath.t.sol
  packages/protocol/test/signal/SignalService.t.sol
  packages/protocol/test/team/TimelockTokenPool.t.sol
  packages/protocol/test/team/airdrop/MerkleClaimable.t.sol
  packages/protocol/test/tokenvault/BridgedERC20.t.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Due: none

use abi.encodeCall
  packages/protocol/contracts/L1/ITaikoL1.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

remove unused errors
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Due: none

Update DeployOnL1.s.sol
  packages/protocol/script/DeployOnL1.s.sol
Due: none

abi.encodeCall
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

resolved conflict README.md
  packages/starter-dapp/README.md
Due: repo

solved actors_privileges_deployments.md
  packages/protocol/contracts/actors_privileges_deployments.md
Due: repo

refactor(status-page getProposers)
  packages/status-page/src/utils/getProposers.ts
Due: none

solved L2EIP1559.md
  packages/protocol/docs/L2EIP1559.md
Due: repo

skip errors
  packages/bridge-ui-v2/src/libs/util/checkForPausedContracts.test.ts
  packages/bridge-ui-v2/src/libs/util/checkForPausedContracts.ts
Due: bridge-ui-v2

update ui for a6 contracts
  packages/bridge-ui-v2/src/abi/index.ts
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/libs/bridge/Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/isTransactionProcessable.ts
  packages/bridge-ui-v2/src/libs/bridge/messageStatusPoller.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui-v2/src/libs/storage/BridgeTxService.ts
Due: bridge-ui-v2

add 'paused contract' modal
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/BridgePausedModal/BridgePausedModal.svelte
  packages/bridge-ui-v2/src/components/BridgePausedModal/index.ts
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/util/checkForPausedContracts.test.ts
  packages/bridge-ui-v2/src/libs/util/checkForPausedContracts.ts
  packages/bridge-ui-v2/src/libs/wagmi/watcher.ts
  packages/bridge-ui-v2/src/routes/+layout.svelte
  packages/bridge-ui-v2/src/stores/modal.ts
Due: bridge-ui-v2, repo

workflow
  .github/workflows/guardianproverhealthcheck.yml
Due: repo

add skeleton workflow to main so it can be run on PRs to build image
  .github/workflows/guardianproverhealthcheck.yaml
Due: repo

lint pr title too
  .github/workflows/lint-pr.yml
Due: repo

feat(protocol): add skeleton workflow to main so it can be run on PRs to build image (#15325)
  .github/workflows/guardianproverhealthcheck.yaml
  .github/workflows/lint-pr.yml
Due: repo

feat(bridge-ui-v2): updated UI to work with updated protocol (#15322)
  packages/bridge-ui-v2/src/abi/index.ts
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/BridgePausedModal/BridgePausedModal.svelte
  packages/bridge-ui-v2/src/components/BridgePausedModal/index.ts
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/isTransactionProcessable.ts
  packages/bridge-ui-v2/src/libs/bridge/messageStatusPoller.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui-v2/src/libs/storage/BridgeTxService.ts
  packages/bridge-ui-v2/src/libs/util/checkForPausedContracts.test.ts
  packages/bridge-ui-v2/src/libs/util/checkForPausedContracts.ts
  packages/bridge-ui-v2/src/libs/wagmi/watcher.ts
  packages/bridge-ui-v2/src/routes/+layout.svelte
  packages/bridge-ui-v2/src/stores/modal.ts
Due: bridge-ui-v2, repo

chore(repo): remove website badget from README
  README.md
Due: repo

cherry pick skeleton workflow commit
  .github/workflows/guardianproverhealthcheck.yaml
  .github/workflows/lint-pr.yml
Due: repo

add proper workflow
  .github/workflows/guardianproverhealthcheck.yaml
Due: repo

fix pnpm lock
  pnpm-lock.yaml
Due: repo

chore(repo): remove website badget from `README.md` (#15329)
  README.md
Due: repo

unused endpoints
  packages/guardian-prover-health-check/healthchecker/healthchecker.go
Due: none

http stat repo
  packages/guardian-prover-health-check/http/server_test.go
Due: none

chore(relayer): Add docker-compose.yml
  packages/relayer/README.md
  packages/relayer/docker-compose/docker-compose.yml
Due: repo

chore(relayer): Add docker-compose.yml (#15330)
  packages/relayer/README.md
  packages/relayer/docker-compose/docker-compose.yml
Due: repo

tests
  packages/guardian-prover-health-check/repo/healthcheck_test.go
Due: none

typing
  packages/guardian-prover-health-check/repo/healthcheck_test.go
Due: none

Update Button.svelte
  packages/bridge-ui-v2/src/components/Button/Button.svelte
Due: bridge-ui-v2
