Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui-v2, protocol_sol, protocol_ts, repo

bridge-ui-v2:
  run: pnpm -F bridge-ui-v2 svelte:check && pnpm -F bridge-ui-v2 lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint:fix && git add {staged_files}

repo:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

fix fee selection bug
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
Due: bridge-ui-v2

allow setting zero custom fee, set to recommended when custom input box is empty
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
Due: bridge-ui-v2

changed comment in closeModal
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
Due: bridge-ui-v2

remove misplaced string
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
Due: bridge-ui-v2

fix(relayer): queue is not started in processor
  packages/relayer/processor/processor.go
Due: none

fix fee selection bugs
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
Due: bridge-ui-v2

docs(repo): update swagger scripts and docs for relayer and eventindexer
  packages/eventindexer/docs/docs.go
  packages/eventindexer/docs/swagger.json
  packages/eventindexer/docs/swagger.yaml
  packages/eventindexer/pkg/http/server.go
  packages/eventindexer/scripts/swagger.sh
  packages/relayer/docs/docs.go
  packages/relayer/docs/swagger.json
  packages/relayer/docs/swagger.yaml
  packages/relayer/scripts/swagger.sh
Due: repo

mobile transaction view update
  packages/bridge-ui-v2/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
Due: bridge-ui-v2, repo

update index.html
  packages/eventindexer/docs/index.html
  packages/relayer/docs/index.html
Due: none

fix(protocol): set evm_version to cancun as default
  packages/protocol/foundry.toml
Due: none

ci(protocol): forge fmt --check in protocol workflow
  .github/workflows/protocol.yml
  packages/protocol/contracts/L1/TaikoL1.sol
Due: repo

ci(protocol): check lint in protocol workflow
  .github/workflows/protocol.yml
Due: repo

works
  packages/protocol/contracts/L1/TaikoL1.sol
Due: none

Add prover param
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/verifiers/IVerifier.sol
  packages/protocol/contracts/verifiers/PseZkVerifier.sol
  packages/protocol/contracts/verifiers/SgxVerifier.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/verifiers/GuardianVerifier.t.sol
  packages/protocol/test/verifiers/PseZkVerifier.t.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
Due: none

additional changes relatd to `--evm-version cancun`
  .github/workflows/protocol.yml
  packages/protocol/README.md
  packages/protocol/genesis/generate_genesis.test.sh
  packages/protocol/package.json
  packages/protocol/script/test_deploy_on_l1.sh
Due: repo

add trusted hops and relay chain data
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

improved hop processing
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/signal/ISignalService.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/libs/LibTrieProof.t.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

Update ISignalService.sol
  packages/protocol/contracts/signal/ISignalService.sol
Due: none

chore(protocol): remove solidity docgen
  packages/protocol/solidity-docgen/templates/README.md
  packages/protocol/solidity-docgen/templates/common.hbs
  packages/protocol/solidity-docgen/templates/contract.hbs
  packages/protocol/solidity-docgen/templates/enum.hbs
  packages/protocol/solidity-docgen/templates/error.hbs
  packages/protocol/solidity-docgen/templates/event.hbs
  packages/protocol/solidity-docgen/templates/function.hbs
  packages/protocol/solidity-docgen/templates/modifier.hbs
  packages/protocol/solidity-docgen/templates/page.hbs
  packages/protocol/solidity-docgen/templates/struct.hbs
  packages/protocol/solidity-docgen/templates/user-defined-value-type.hbs
  packages/protocol/solidity-docgen/templates/variable.hbs
Due: repo

impl
  packages/protocol/contracts/signal/ISignalService.sol
  packages/protocol/contracts/signal/SignalService.sol
Due: none

delete IHopRelayRegistry
  packages/protocol/contracts/signal/HopRelayRegistry.sol
  packages/protocol/contracts/signal/IHopRelayRegistry.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: repo

Util contract to Lib
  packages/protocol/script/DeployERC20Airdrop.s.sol
  packages/protocol/test/team/airdrop/ERC20Airdrop.t.sol
  packages/protocol/test/team/airdrop/LibDelegationSigUtil.sol
Due: none

fix
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

fix tests
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

Update SignalService.sol
  packages/protocol/contracts/signal/SignalService.sol
Due: none

more
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
Due: none

fmt
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

more
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

fmt
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

lint
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

chore(protocol): remove solidity docgen (#15760)
  packages/protocol/solidity-docgen/templates/README.md
  packages/protocol/solidity-docgen/templates/common.hbs
  packages/protocol/solidity-docgen/templates/contract.hbs
  packages/protocol/solidity-docgen/templates/enum.hbs
  packages/protocol/solidity-docgen/templates/error.hbs
  packages/protocol/solidity-docgen/templates/event.hbs
  packages/protocol/solidity-docgen/templates/function.hbs
  packages/protocol/solidity-docgen/templates/modifier.hbs
  packages/protocol/solidity-docgen/templates/page.hbs
  packages/protocol/solidity-docgen/templates/struct.hbs
  packages/protocol/solidity-docgen/templates/user-defined-value-type.hbs
  packages/protocol/solidity-docgen/templates/variable.hbs
Due: repo

fix(relayer): Error 1406: Data too long for column 'canonical_token_symbol' at row 1 (#15746)
  packages/relayer/migrations/1707727779_alert_events_canonical_token_symbol_length.sql
Due: none

fix genesis test differently
  .github/workflows/protocol.yml
  packages/protocol/script/DeployOnL1.s.sol
Due: repo

remove
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
Due: none

docs(repo): add RELEASE.md (#15750)
  RELEASE.md
Due: repo

Path conditions:
  bridge-ui-v2: any of: packages/bridge-ui-v2/**.{js,ts,css,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo: any of: **.{json,md,yaml,yml}
