Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

chore(main): release taiko-alethia-client 1.9.0 (#19801)
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Due: repo

fix: use batchId before processing batches
  packages/protocol/contracts/layer1/based2/libs/LibPropose.sol
Due: none

.
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-alethia-node-with-docker.mdx
Due: none

.
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
Due: none

make getFallbackPreconfer an implementation detail of getCurrentPreconger
  packages/protocol/contracts/layer1/based2/AbstractInbox.sol
  packages/protocol/contracts/layer1/based2/Inbox.sol
  packages/protocol/contracts/layer1/based2/libs/LibBinding.sol
  packages/protocol/contracts/layer1/based2/libs/LibValidate.sol
Due: none

revert workflow space changes
  .github/workflows/repo--claude.yml
Due: repo

Update checkBalanceToBridge.ts
  packages/bridge-ui/src/libs/bridge/checkBalanceToBridge.ts
Due: bridge-ui

chore(protocol): make sure the wrapper is not used alone (#19813)
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
Due: none

chore(protocol): make sure the wrapper is not used alone (#19849)
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
Due: none

chore(protocol): configurable gas issuance changes (#19843)
  packages/protocol/contracts/layer1/based2/IInbox.sol
  packages/protocol/contracts/layer1/based2/libs/LibValidate.sol
  packages/protocol/script/layer1/mainnet/DeployWhitelistWithEjecter.sol
Due: none

chore(docs-site): add rpc, oracle and aa providers (#19835)
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
Due: none

chore
  packages/protocol/contracts/layer1/based2/libs/LibVerify.sol
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/IShastaInboxStore.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInboxStore.sol
Due: none

fix pipeline
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
Due: none

add fallbackPreconfer to whitelist ctor
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/script/layer1/mainnet/DeployWhitelistWithEjecter.sol
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
Due: none

feat(prover): add support for external signer from optimism module
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/pkg/flags/config.go
Due: none

Create DESIGN.md
  packages/protocol/contracts/layer1/based3/DESIGN.md
Due: repo

Update DESIGN.md
  packages/protocol/contracts/layer1/based3/DESIGN.md
Due: repo

Create BuildBlocks.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/BuildBlocks.sol
Due: none

more
  packages/protocol/contracts/layer1/based3/offchain-specs/BuildBlocks.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/IOffchainData.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/SystemCalls.sol
Due: none

fmt
  packages/protocol/contracts/layer1/based3/offchain-specs/BuildBlocks.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/IOffchainData.sol
Due: none

more
  packages/protocol/contracts/layer1/based3/offchain-specs/Hooks.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/IOffchainData.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/ISpecs.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/Specs.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/SystemCalls.sol
Due: none

more
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/IShastaInboxStore.sol
Due: none

fix
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/Hooks.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/ISpecs.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/Specs.sol
Due: none

more
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/based3/DESIGN.md
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/IShastaInboxStore.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInboxStore.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/BlobDecoder.py
  packages/protocol/contracts/layer1/based3/offchain-specs/BlockPreparer.py
  packages/protocol/contracts/layer1/based3/offchain-specs/Data.py
  packages/protocol/contracts/layer1/based3/offchain-specs/ISpecs.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/README.md
  packages/protocol/contracts/layer1/based3/offchain-specs/Specs.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/SystemCall.py
  packages/protocol/contracts/layer1/based3/offchain-specs/requirements.txt
Due: repo

chore
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
Due: none

more
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/Data.py
Due: none

Update ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
Due: none

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
Due: none

.
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-alethia-node-with-docker.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/based-preconfirmation.mdx
Due: none

.
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-alethia-node-with-docker.mdx
Due: none

chore(docs-site): update guides for based preconfs upgrade (#19790)
  _typos.toml
  packages/docs-site/.prettierignore
  packages/docs-site/astro.config.ts
  packages/docs-site/package.json
  packages/docs-site/src/assets/custom-icons.ts
  packages/docs-site/src/content/config.ts
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-alethia-node-with-docker.mdx
  packages/docs-site/src/content/docs/network-reference/software-releases-and-deployments.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/composeverifier-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikoanchor-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikoinbox-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/taiko-alethia-nodes.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/based-preconfirmation.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/based-rollups.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/inception-layers.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/pacaya-fork-taiko-alethia.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/what-is-taiko-alethia.md
Due: repo

chore(main): release docs-site 1.29.4
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Due: repo

chore(main): release docs-site 1.29.4 (#19850)
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Due: repo

.
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
Due: none

chore(docs-site): missed config (#19853)
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
Due: none

chore(main): release docs-site 1.29.5
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Due: repo

chore(main): release docs-site 1.29.5 (#19854)
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Due: repo

support multiple blobs
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
Due: none

feat(taiko-client): add support for external signer from optimism module (#19851)
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/pkg/flags/config.go
Due: none
