Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

feat: update blob.rs
  packages/taiko-client-rs/crates/rpc/src/blob.rs
Due: none

feat: improve errors
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/error.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/mod.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/payload.rs
Due: none

+
  packages/protocol/snapshots/shasta-propose.json
Due: repo

fix(protocol): apply randomnessDelay in PreconfWhitelist operator selection (#20302)
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/script/layer1/core/DeployProtocolOnL1.s.sol
  packages/protocol/snapshots/shasta-finalize.json
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/inbox/common/PreconfWhitelistSetup.sol
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
Due: repo

chore: update dep
  packages/taiko-client-rs/Cargo.lock
  packages/taiko-client-rs/Cargo.toml
  packages/taiko-client-rs/crates/protocol/src/subscription_source.rs
Due: none

faet: update agents.md
  packages/taiko-client-rs/AGENTS.md
Due: repo

chore(taiko-client-rs): improve rust driver logging and derivation pipeline (#20651)
  packages/taiko-client-rs/.gitignore
  packages/taiko-client-rs/AGENTS.md
  packages/taiko-client-rs/Cargo.lock
  packages/taiko-client-rs/Cargo.toml
  packages/taiko-client-rs/Dockerfile
  packages/taiko-client-rs/bin/client/src/commands/driver.rs
  packages/taiko-client-rs/bin/client/src/commands/mod.rs
  packages/taiko-client-rs/bin/client/src/flags/driver.rs
  packages/taiko-client-rs/crates/bindings/src/anchor.rs
  packages/taiko-client-rs/crates/bindings/src/codec_optimized.rs
  packages/taiko-client-rs/crates/bindings/src/i_inbox.rs
  packages/taiko-client-rs/crates/driver/Cargo.toml
  packages/taiko-client-rs/crates/driver/src/config.rs
  packages/taiko-client-rs/crates/driver/src/derivation/manifest/fetcher/mod.rs
  packages/taiko-client-rs/crates/driver/src/derivation/manifest/fetcher/shasta.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/error.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/anchor.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/bundle.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/mod.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/payload.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/state.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/util.rs
  packages/taiko-client-rs/crates/driver/src/driver.rs
  packages/taiko-client-rs/crates/driver/src/signer/fixed_k.rs
  packages/taiko-client-rs/crates/driver/src/sync/beacon.rs
  packages/taiko-client-rs/crates/driver/src/sync/engine.rs
  packages/taiko-client-rs/crates/driver/src/sync/error.rs
  packages/taiko-client-rs/crates/driver/src/sync/event.rs
  packages/taiko-client-rs/crates/driver/src/sync/mod.rs
  packages/taiko-client-rs/crates/driver/tests/shasta_event_sync.rs
  packages/taiko-client-rs/crates/event-indexer/src/indexer.rs
  packages/taiko-client-rs/crates/proposer/src/proposer.rs
  packages/taiko-client-rs/crates/protocol/Cargo.toml
  packages/taiko-client-rs/crates/protocol/src/shasta/manifest.rs
  packages/taiko-client-rs/crates/protocol/src/subscription_source.rs
  packages/taiko-client-rs/crates/rpc/Cargo.toml
  packages/taiko-client-rs/crates/rpc/src/beacon.rs
  packages/taiko-client-rs/crates/rpc/src/blob.rs
  packages/taiko-client-rs/crates/rpc/src/l1_origin.rs
  packages/taiko-client-rs/crates/rpc/src/lib.rs
Due: repo

Update Derivation.md
  packages/protocol/docs/Derivation.md
Due: repo

Update protocol generated artifacts
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-finalize.json
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
Due: repo

feat(taiko-clieng-rs): introduce `RESUME_REORG_CUSHION_SLOTS` for driver
  packages/taiko-client-rs/crates/driver/src/sync/event.rs
Due: none

feat: update comments
  packages/taiko-client-rs/crates/driver/src/sync/event.rs
Due: none

feat: use EPOCH_SLOTS
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/mod.rs
  packages/taiko-client-rs/crates/driver/src/sync/event.rs
Due: none

feat: update event_stream_start_block
  packages/taiko-client-rs/crates/driver/src/sync/event.rs
Due: none

feat: update run
  packages/taiko-client-rs/crates/driver/src/sync/event.rs
Due: none

feat: update event_stream_start_block
  packages/taiko-client-rs/crates/driver/src/sync/error.rs
  packages/taiko-client-rs/crates/driver/src/sync/event.rs
Due: none

feat: update load_parent_block
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/mod.rs
Due: none

Update common.go
  packages/taiko-client/prover/proof_producer/common.go
Due: none

feat: update load_parent_block
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/error.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/mod.rs
Due: none

chore: update comments
  packages/taiko-client-rs/crates/driver/src/sync/event.rs
Due: none

ci: update golangci-lint-action to v9
  .github/workflows/eventindexer--test.yml
  .github/workflows/relayer--test.yml
Due: repo

fix(taiko-client-rs): remove redundant 'to' override; rely on contract binding address (#20628)
  packages/taiko-client-rs/crates/proposer/src/proposer.rs
Due: none

feat(taiko-client): introduce real proofs for shasta (#20565)
  packages/protocol/contracts/layer1/verifiers/compose/ComposeVerifier.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-finalize.json
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/inbox/mocks/MockContracts.sol
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_pacaya.go
  packages/taiko-client/bindings/metadata/metadata_shasta.go
  packages/taiko-client/bindings/shasta/.githead
  packages/taiko-client/bindings/shasta/gen_compose_verifier.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/state_indexer/indexer.go
  packages/taiko-client/prover/event_handler/shasta_proposed.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/common.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/proof_producer/interface.go
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_geth_proof_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_shasta.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
  packages/taiko-client/scripts/gen_bindings.sh
Due: repo

feat: use the new anchor contract
  packages/protocol/contracts/layer2/core/Anchor.sol
  packages/protocol/contracts/layer2/preconf/PreconfSlasherL2.sol
  packages/protocol/contracts/shared/preconf/IPreconfSlasher.sol
  packages/protocol/test/layer2/core/Anchor.t.sol
Due: none

feat(taiko-client-rs): introduce `detect_known_canonical_proposal` checks
  packages/taiko-client-rs/AGENTS.md
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/mod.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/payload.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/state.rs
Due: repo

feat(taiko-client-rs): introduce `RESUME_REORG_CUSHION_SLOTS` for driver (#20679)
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/error.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/mod.rs
  packages/taiko-client-rs/crates/driver/src/sync/error.rs
  packages/taiko-client-rs/crates/driver/src/sync/event.rs
Due: none

feat: rename
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/mod.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/payload.rs
Due: none

feat: review nits
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadSlasher.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfSlasherL1.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadSlasher.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfSlasherL1.sol
  packages/protocol/contracts/layer1/preconf/impl/UnifiedSlasher.sol
  packages/protocol/contracts/layer2/preconf/PreconfSlasherL2.sol
Due: none

feat: rename
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/payload.rs
Due: none

docs(taiko-client): fix readme to actual directory structure
  packages/taiko-client/README.md
Due: repo

docs(taiko-client): fix readme to actual directory structure (#20684)
  packages/taiko-client/README.md
Due: repo

perf(taiko-client): reuse http client for connection pooling (#20680)
  packages/taiko-client/prover/proof_producer/common.go
Due: none

feat(taiko-client): intorduce `--shasta.useLocalDecoder` flag
  packages/taiko-client/cmd/flags/common.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/chain_syncer/event/syncer_test.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/batch_proposed_iterator.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/event_decoder/shasta.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/event_decoder/shasta_test.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/shasta_proved_iterator.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/client_test.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/event_handler/batches_proved_test.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Due: none

proposal 5 to transfer all funds from controller to treasury multisig
  packages/protocol/script/layer1/governance/BuildProposal.sol
  packages/protocol/script/layer1/governance/BuildProposalV2.sol
  packages/protocol/script/layer1/proposals/Proposal0005.action.md
  packages/protocol/script/layer1/proposals/Proposal0005.md
  packages/protocol/script/layer1/proposals/Proposal0005.s.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/script/layer1/governance/BuildProposalV2.sol
  packages/protocol/script/layer1/proposals/Proposal0005.s.sol
  pnpm-lock.yaml
Due: repo

widget route setup
  packages/bridge-ui/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui/src/components/Bridge/WidgetBridge/WidgetBridge.svelte
  packages/bridge-ui/src/components/Bridge/WidgetBridge/WidgetNavigation.svelte
  packages/bridge-ui/src/components/Bridge/WidgetBridge/WidgetStep.svelte
  packages/bridge-ui/src/components/Bridge/WidgetBridge/WidgetStepper.svelte
  packages/bridge-ui/src/components/Bridge/WidgetBridge/index.ts
  packages/bridge-ui/src/components/Header/Header.svelte
  packages/bridge-ui/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui/src/routes/+layout.svelte
  packages/bridge-ui/src/routes/widget/+layout.svelte
  packages/bridge-ui/src/routes/widget/+page.svelte
  packages/bridge-ui/src/styles/base.css
  pnpm-lock.yaml
Due: bridge-ui, repo

simplified buildproposal flow
  packages/protocol/script/layer1/governance/BuildProposal.sol
  packages/protocol/script/layer1/governance/BuildProposalV2.sol
  packages/protocol/script/layer1/proposals/Proposal0004.s.sol
  packages/protocol/script/layer1/proposals/Proposal0005.s.sol
Due: none

allow widget route to be embedded in iframes
  packages/bridge-ui/vercel.json
Due: repo

Update protocol generated artifacts
  packages/protocol/script/layer1/proposals/Proposal0004.s.sol
Due: none

feat(protocol): Add TaikoTokenTransferHelper to handle dynamic balance transfers
  packages/protocol/contracts/shared/governance/TaikoTokenTransferHelper.sol
  packages/protocol/script/layer1/proposals/Proposal0005.s.sol
Due: none
