Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

bridge-ui:
  run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint && git add {staged_files}

repo:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
Due: repo

refactor(protocol): use a lib (LibForcedInclusion) to capture forced inclusion store logic (#20036)
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite1/ITestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxMockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/MockLibBlobs.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxCore.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxWithMockBlobs.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized3Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized3.sol
Due: repo

fix
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxCore.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxWithMockBlobs.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized3.sol
Due: none

polish initV2
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

only call the initial init when the contract has no owner
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

chore(protocol): a way to fix Inbox's init function (#20042)
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/snapshots/shasta-prove.json
Due: repo

fx tests
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxFactory.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized3Deployer.sol
Due: repo

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-prove.json
Due: repo

feat(protocol): implement reinitializer for shasta inbox (#20033)
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxFactory.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized3Deployer.sol
Due: none

use settings.json instead of settings.local.json
  .claude/settings.json
Due: repo

gitignore
  .gitignore
Due: none

Update packages/protocol/contracts/layer2/based/BondManager.sol
  packages/protocol/contracts/layer2/based/BondManager.sol
Due: none

remove unnecesary blob validation
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
  packages/protocol/snapshots/shasta-propose.json
Due: repo

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
Due: repo

chore(protocol): remove unnecessary blob validation (#20045)
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
Due: repo

chore(repo): use the right settings file for claude code permissions (#20043)
  .claude/settings.json
  .gitignore
Due: repo

remove multihop support and catching from SignalService
  packages/protocol/contracts/shared/bridge/Bridge.sol
  packages/protocol/contracts/shared/signal/ISignalService.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/test/shared/helpers/SignalService_WithoutProofVerification.sol
  packages/protocol/test/shared/signal/SignalService.t.sol
Due: none

fix tests
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/test/shared/bridge/Bridge1.t.sol
  packages/protocol/test/shared/helpers/SignalService_WithoutProofVerification.sol
  packages/protocol/test/shared/signal/SignalService.t.sol
Due: none

Update MainnetShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
Due: none

forge fmt & update contract layout tables
  packages/protocol/contracts/shared/bridge/Bridge.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/shared/helpers/SignalService_WithoutProofVerification.sol
  packages/protocol/test/shared/signal/SignalService.t.sol
Due: none

chore
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxFactory.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized3Deployer.sol
Due: none

avoid calling lib functions if _numForcedInclusions is 0
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
Due: repo

fix tests
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/token/TaikoToken.sol
  packages/protocol/contracts/shared/tokenvault/BridgedERC20V2.sol
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxFactory.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized3Deployer.sol
Due: repo

more
  packages/protocol/contracts/shared/bridge/Bridge.sol
  packages/protocol/snapshots/shasta-prove.json
Due: repo

fix(balance-monitor): type mismatch in ABI binding result (#19807)
  packages/balance-monitor/balance-monitor/balance_monitor.go
Due: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

fix(taiko-client): use unique log key for block ID in fallback check (#20026)
  packages/taiko-client/proposer/proposer.go
Due: none

feat(repo): introduce an event indexer for Shasta protocol
  .gitignore
  packages/shasta-indexer/.gitignore
  packages/shasta-indexer/Cargo.lock
  packages/shasta-indexer/Cargo.toml
  packages/shasta-indexer/abis/ShastaInbox.json
  packages/shasta-indexer/docker-compose.yml
  packages/shasta-indexer/rindexer.yaml
  packages/shasta-indexer/src/main.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/all_handlers.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/indexer/mod.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/indexer/shasta_inbox_proposal.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/mod.rs
  packages/shasta-indexer/src/rindexer_lib/mod.rs
  packages/shasta-indexer/src/rindexer_lib/typings/database.rs
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/events/mod.rs
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/events/shasta_inbox_proposal.rs
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/events/shasta_inbox_proposal_abi_gen.rs
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/mod.rs
  packages/shasta-indexer/src/rindexer_lib/typings/mod.rs
  packages/shasta-indexer/src/rindexer_lib/typings/networks.rs
Due: repo

feat: add README
  packages/shasta-indexer/.dockerignore
  packages/shasta-indexer/Dockerfile
  packages/shasta-indexer/README.md
  packages/shasta-indexer/rindexer.yaml
  packages/shasta-indexer/src/rindexer_lib/indexers/all_handlers.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/indexer/mod.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/indexer/shasta_inbox.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/indexer/shasta_inbox_proposal.rs
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/events/mod.rs
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/events/shasta_inbox.rs
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/events/shasta_inbox_abi_gen.rs
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/mod.rs
  packages/shasta-indexer/src/rindexer_lib/typings/mod.rs
  packages/shasta-indexer/src/rindexer_lib/typings/networks.rs
Due: repo

feat: update dockerfile
  packages/shasta-indexer/Dockerfile
  packages/shasta-indexer/README.md
  packages/shasta-indexer/rindexer.yaml
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/events/mod.rs
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/events/shasta_inbox_proposal.rs
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/events/shasta_inbox_proposal_abi_gen.rs
Due: repo

fix: review nits
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/iface/IOverseer.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/Overseer.sol
  packages/protocol/contracts/layer1/preconf/libs/LibBeaconMerkleUtils.sol
  packages/protocol/contracts/layer1/preconf/libs/LibBlockHeader.sol
  packages/protocol/contracts/shared/governance/SimpleMultisig.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStoreBase.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStore_PostedByOperator.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockOverseer.sol
  packages/protocol/test/layer1/preconf/slasher/data/BlockHeader.sol
Due: none

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadSlasher.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadSlasher.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/shared/governance/SimpleMultisig.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStoreBase.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStore_PostedByOperator.t.sol
Due: none

feat(protocol): change rollback event (#193)
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
Due: none

fix: type mismatch in Promise.race result
  packages/bridge-ui/src/libs/relayer/getFirstAvailableBlockInfo.ts
Due: bridge-ui

ShastaAnchor abi
  packages/taiko-client/bindings/shasta/.githead
  packages/taiko-client/bindings/shasta/gen_shasta_anchor.go
  packages/taiko-client/scripts/gen_bindings.sh
Due: none

feat: add more handlers
  packages/shasta-indexer/Cargo.lock
  packages/shasta-indexer/Cargo.toml
  packages/shasta-indexer/migrations/001_create_schema.sql
  packages/shasta-indexer/migrations/002_create_tables.sql
  packages/shasta-indexer/migrations/003_create_views.sql
  packages/shasta-indexer/migrations/README.md
  packages/shasta-indexer/migrations/init.sh
  packages/shasta-indexer/rindexer.yaml
  packages/shasta-indexer/src/decoder/error.rs
  packages/shasta-indexer/src/decoder/mod.rs
  packages/shasta-indexer/src/decoder/shasta.rs
  packages/shasta-indexer/src/main.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/indexer/handlers/bond_instructed.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/indexer/handlers/mod.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/indexer/handlers/proposed.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/indexer/handlers/proved.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/indexer/mod.rs
  packages/shasta-indexer/src/rindexer_lib/indexers/indexer/shasta_inbox.rs
  packages/shasta-indexer/src/rindexer_lib/typings/indexer/events/mod.rs
Due: repo

Path conditions:
  bridge-ui: any of: packages/bridge-ui/**.{js,ts,css,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo: any of: **.{json,md,yaml,yml}
