Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

fix: copilot prompted bug
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
Due: none

chore(protocol): remove dead error InvalidParams from IForcedInclusionStore
  packages/protocol/contracts/layer1/forced-inclusion/IForcedInclusionStore.sol
Due: none

Update EssentialResolverContract.sol
  packages/protocol/contracts/shared/common/EssentialResolverContract.sol
Due: none

Update state.go
  packages/taiko-client/driver/state/state.go
Due: none

Update subscription.go
  packages/taiko-client/pkg/rpc/subscription.go
Due: none

Update prover.go
  packages/taiko-client/prover/prover.go
Due: none

lints
  packages/relayer/pkg/repo/containers_test.go
Due: none

fix all typos for ci/cd and relayer lint
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/ProcessingFee.svelte
  packages/relayer/bridge/bridge.go
  packages/relayer/bridge/config.go
  packages/relayer/cmd/flags/common.go
  packages/relayer/indexer/config.go
  packages/relayer/pkg/repo/containers_test.go
  packages/relayer/processor/config.go
  packages/relayer/processor/config_test.go
  packages/relayer/processor/processor.go
  packages/relayer/watchdog/config.go
  packages/relayer/watchdog/config_test.go
  packages/relayer/watchdog/watchdog.go
  packages/taiko-client/prover/event_handler/batch_proposed.go
  packages/taiko-client/prover/event_handler/batch_proposed_test.go
  packages/taiko-client/prover/event_handler/shasta_proposed.go
  packages/taiko-client/prover/init.go
  packages/ui-lib/src/stories/ResponsiveController/ResponsiveController.stories.ts
Due: bridge-ui

update eventindexer containers test
  packages/eventindexer/pkg/repo/containers_test.go
Due: none

pkg
  packages/eventindexer/pkg/repo/containers_test.go
Due: none

comment out problem tests until we fix them in ci/cd
  packages/eventindexer/pkg/repo/account_test.go
  packages/eventindexer/pkg/repo/chart_test.go
  packages/eventindexer/pkg/repo/containers_test.go
  packages/eventindexer/pkg/repo/erc20_balance_test.go
  packages/eventindexer/pkg/repo/event_test.go
  packages/eventindexer/pkg/repo/interface.go
  packages/eventindexer/pkg/repo/nft_balance_test.go
  packages/eventindexer/pkg/repo/transaction_test.go
  packages/relayer/pkg/repo/containers_test.go
  packages/relayer/pkg/repo/event_test.go
Due: none

lint
  packages/relayer/pkg/repo/event_test.go
Due: none

bump lll
  packages/relayer/.golangci.yml
Due: repo

ci(repo): cleanup eventindexer and relayer workflows
  .github/workflows/eventindexer--docker.yml
  .github/workflows/eventindexer--test.yml
  .github/workflows/relayer--docker.yml
  .github/workflows/relayer--test.yml
Due: repo

fix
  .github/workflows/eventindexer--test.yml
Due: repo

ci(repo): cleanup eventindexer and relayer workflows (#20334)
  .github/workflows/eventindexer--docker.yml
  .github/workflows/eventindexer--test.yml
  .github/workflows/relayer--docker.yml
  .github/workflows/relayer--test.yml
Due: repo

fix(relayer): comment out problem tests until we fix them in ci/cd (#20333)
  .github/workflows/eventindexer--docker.yml
  .github/workflows/eventindexer--test.yml
  .github/workflows/relayer--docker.yml
  .github/workflows/relayer--test.yml
  packages/eventindexer/pkg/repo/account_test.go
  packages/eventindexer/pkg/repo/chart_test.go
  packages/eventindexer/pkg/repo/containers_test.go
  packages/eventindexer/pkg/repo/erc20_balance_test.go
  packages/eventindexer/pkg/repo/event_test.go
  packages/eventindexer/pkg/repo/interface.go
  packages/eventindexer/pkg/repo/nft_balance_test.go
  packages/eventindexer/pkg/repo/transaction_test.go
  packages/relayer/.golangci.yml
  packages/relayer/pkg/repo/containers_test.go
  packages/relayer/pkg/repo/event_test.go
Due: repo

ci(relayer, eventindexer): use v6 and peg version to go.mod
  .github/workflows/eventindexer.yml
  .github/workflows/relayer.yml
Due: repo

ci(relayer, eventindexer): update setup go and peg version to go.mod
  .github/workflows/eventindexer--test.yml
  .github/workflows/relayer--test.yml
Due: repo

ci(relayer, eventindexer): update setup go and peg version to go.mod (#20336)
  .github/workflows/eventindexer--test.yml
  .github/workflows/relayer--test.yml
Due: repo

fix(taiko-client): rename SubscribePorposedShasta to SubscribeProposedShasta (#20332)
  packages/taiko-client/driver/state/state.go
  packages/taiko-client/pkg/rpc/subscription.go
  packages/taiko-client/prover/prover.go
Due: none

chore(protocol): remove dead error InvalidParams from IForcedInclusionStore (#20330)
  packages/protocol/contracts/layer1/forced-inclusion/IForcedInclusionStore.sol
Due: none

style: add leading underscores to internal function parameters
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
Due: none

fix
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

perf(protocol): add unchecked blocks for safe arithmetic in InboxOptimized1
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
Due: none

fix: correct typos across relayer, bridge-ui, and ui-lib
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/ProcessingFee.svelte
  packages/relayer/bridge/bridge.go
  packages/relayer/bridge/config.go
  packages/relayer/cmd/flags/common.go
  packages/relayer/indexer/config.go
  packages/relayer/processor/config.go
  packages/relayer/processor/config_test.go
  packages/relayer/processor/processor.go
  packages/relayer/watchdog/config.go
  packages/relayer/watchdog/config_test.go
  packages/relayer/watchdog/watchdog.go
  packages/ui-lib/src/stories/ResponsiveController/ResponsiveController.stories.ts
Due: bridge-ui

refactor(protocol): change minCheckpointDelay type from uint48 to uint16
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

fix
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
Due: repo

fix(repo): correct typos across relayer, bridge-ui, and ui-lib (#20337)
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/ProcessingFee.svelte
  packages/relayer/bridge/bridge.go
  packages/relayer/bridge/config.go
  packages/relayer/cmd/flags/common.go
  packages/relayer/indexer/config.go
  packages/relayer/processor/config.go
  packages/relayer/processor/config_test.go
  packages/relayer/processor/processor.go
  packages/relayer/watchdog/config.go
  packages/relayer/watchdog/config_test.go
  packages/relayer/watchdog/watchdog.go
  packages/ui-lib/src/stories/ResponsiveController/ResponsiveController.stories.ts
Due: bridge-ui

fix
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/snapshots/shasta-prove.json
Due: repo

fix
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
Due: none

feat: update proposer
  packages/taiko-client-rs/crates/proposer/src/lib.rs
Due: none

feat(protocol): add Proposal0004 for verifier configuration updates on Layer 1
  packages/protocol/script/layer1/proposals/Proposal0004.action.md
  packages/protocol/script/layer1/proposals/Proposal0004.md
  packages/protocol/script/layer1/proposals/Proposal0004.s.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/script/layer1/proposals/Proposal0004.s.sol
Due: none

update Proposal0004 to use abi.encodeCall for verifier actions
  packages/protocol/script/layer1/proposals/Proposal0004.s.sol
Due: none
