Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

Update protocol generated artifacts
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

fix(protocol): fix Incorrect span calculation (#20768)
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-finalize.json
  packages/protocol/test/layer1/core/inbox/finalize/AbstractFinalize.t.sol
  packages/protocol/test/layer1/core/inbox/finalize/AbstractOptimizedFinalize.t.sol
  packages/protocol/test/layer1/core/inbox/finalize/InboxOptimized1Finalize.t.sol
  packages/protocol/test/layer1/core/inbox/finalize/InboxOptimized2Finalize.t.sol
Due: repo

fix
  packages/protocol/contracts/layer1/preconf/impl/UnifiedSlasher.sol
  packages/protocol/script/layer1/governance/BuildProposal.sol
  packages/protocol/script/layer1/proposals/Proposal0007.s.sol
Due: none

Update protocol generated artifacts
  packages/protocol/contracts/layer1/preconf/impl/UnifiedSlasher.sol
  packages/protocol/script/layer1/proposals/Proposal0007.s.sol
Due: none

Update PreconfSlasherL2.sol
  packages/protocol/contracts/layer2/preconf/PreconfSlasherL2.sol
Due: none

feat: remove acceptOwnership in 007
  packages/protocol/script/layer1/proposals/Proposal0007.md
  packages/protocol/script/layer1/proposals/Proposal0007.s.sol
Due: repo

aggregate only if parent tranisition is the same and add test
  packages/protocol/contracts/layer1/core/impl/InboxOptimized1.sol
  packages/protocol/test/layer1/core/inbox/finalize/InboxOptimized1Finalize.t.sol
Due: none

fix tests
  packages/protocol/test/layer1/core/inbox/finalize/AbstractFinalize.t.sol
  packages/protocol/test/layer1/core/inbox/prove/AbstractProve.t.sol
Due: none

update tests
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/inbox/finalize/AbstractOptimizedFinalize.t.sol
  packages/protocol/test/layer1/core/inbox/finalize/InboxOptimized1Finalize.t.sol
  packages/protocol/test/layer1/core/inbox/prove/AbstractProve.t.sol
Due: repo

fix comment
  packages/protocol/contracts/layer2/core/Anchor.sol
Due: none

Update protocol generated artifacts
  packages/protocol/contracts/layer1/core/impl/InboxOptimized1.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/inbox/finalize/AbstractOptimizedFinalize.t.sol
Due: repo

avoid finalization when a conflicting transition is detected
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/impl/InboxOptimized1.sol
  packages/protocol/snapshots/shasta-finalize.json
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/core/inbox/prove/InboxOptimized1TransitionRecord.t.sol
  packages/protocol/test/layer1/core/inbox/prove/InboxTransitionRecord.t.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/layer1/core/impl/InboxOptimized1_Layout.sol
  packages/protocol/contracts/layer1/core/impl/InboxOptimized2_Layout.sol
  packages/protocol/contracts/layer1/core/impl/Inbox_Layout.sol
  packages/protocol/contracts/layer1/devnet/DevnetInbox_Layout.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox_Layout.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-finalize.json
  packages/protocol/snapshots/shasta-propose.json
Due: repo

add a test for transition conflicts
  packages/protocol/test/layer1/core/inbox/finalize/AbstractFinalize.t.sol
Due: none

Update protocol generated artifacts
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/core/inbox/finalize/AbstractFinalize.t.sol
Due: none

eject correct operator on reorg
  packages/ejector/src/monitor.rs
Due: none

add flag
  packages/ejector/bin/ejector/src/main.rs
  packages/ejector/src/config.rs
  packages/ejector/src/monitor.rs
Due: none

v2 => v4
  packages/relayer/indexer/indexer.go
Due: none

use the correct address based on shasta timestamp to generate proof
  packages/relayer/processor/process_message.go
  packages/relayer/processor/processor.go
Due: none

feat(relayer): use the new signal service (#20826)
  packages/relayer/bindings/v4/signalservice/SignalService.go
  packages/relayer/bindings/v4/signalserviceforkrouter/SignalServiceForkRouter.go
  packages/relayer/cmd/flags/common.go
  packages/relayer/cmd/flags/processor.go
  packages/relayer/event.go
  packages/relayer/indexer/config.go
  packages/relayer/indexer/handle_checkpoint_saved_event.go
  packages/relayer/indexer/indexer.go
  packages/relayer/pkg/mock/event_repository.go
  packages/relayer/pkg/repo/event.go
  packages/relayer/processor/config.go
  packages/relayer/processor/errors.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/processor.go
  packages/relayer/processor/wait_header_synced.go
  packages/relayer/processor/wait_header_synced_test.go
  packages/relayer/prometheus.go
  packages/relayer/scripts/abigen_v4.sh
  packages/relayer/signalservice.go
Due: none

fix(ejector): eject correct operator on reorg, add flag to enable/disable (#20837)
  packages/ejector/bin/ejector/src/main.rs
  packages/ejector/src/config.rs
  packages/ejector/src/monitor.rs
Due: none

chore(main): release ejector 0.1.2
  .release-please-manifest.json
  packages/ejector/CHANGELOG.md
  packages/ejector/Cargo.toml
Due: repo

chore(main): release ejector 0.1.2 (#20823)
  .release-please-manifest.json
  packages/ejector/CHANGELOG.md
  packages/ejector/Cargo.toml
Due: repo

docs(protocol): transfer owner of L2 contracts to delegate_controller
  packages/protocol/deployments/taiko-hoodi-contract-logs.md
Due: repo

docs(protocol): transfer owner of L2 contracts on Taiko Hoodi to delegate_controller (#20838)
  packages/protocol/deployments/taiko-hoodi-contract-logs.md
Due: repo

fix: handle transition conflicts by stopping finalization early
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/impl/InboxOptimized1.sol
  packages/protocol/snapshots/shasta-finalize.json
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/core/inbox/finalize/AbstractFinalize.t.sol
  packages/protocol/test/layer1/core/inbox/prove/InboxOptimized1TransitionRecord.t.sol
  packages/protocol/test/layer1/core/inbox/prove/InboxTransitionRecord.t.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-finalize.json
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/core/inbox/finalize/AbstractFinalize.t.sol
  packages/protocol/test/layer1/core/inbox/prove/InboxOptimized1TransitionRecord.t.sol
  packages/protocol/test/layer1/core/inbox/prove/InboxTransitionRecord.t.sol
Due: repo

feat: add bondProcessingProposalHash
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer1/core/libs/LibHashSimple.sol
  packages/protocol/contracts/layer1/core/libs/LibManifest.sol
  packages/protocol/contracts/layer1/core/libs/LibProveInputDecoder.sol
  packages/protocol/contracts/layer1/core/libs/LibProvedEventEncoder.sol
Due: none

fix(bridge-ui): fix memory leak in CustomTokenService event listeners
  packages/bridge-ui/src/libs/storage/CustomTokenService.ts
Due: bridge-ui

fix(relayer): respect context for IsMessageReceived and EstimateGas
  packages/relayer/processor/process_message.go
Due: none

Handle duplicate transition records early
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/impl/InboxOptimized1.sol
  packages/protocol/snapshots/shasta-prove.json
Due: repo

refactor(protocol): additional transition conflict handling in finalization (#20839)
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/impl/InboxOptimized1.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-finalize.json
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/inbox/finalize/AbstractFinalize.t.sol
  packages/protocol/test/layer1/core/inbox/prove/InboxOptimized1TransitionRecord.t.sol
  packages/protocol/test/layer1/core/inbox/prove/InboxTransitionRecord.t.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/impl/InboxOptimized1.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-prove.json
Due: repo

avoid-mutating-prove-input
  packages/protocol/contracts/layer1/core/impl/InboxOptimized1.sol
  packages/protocol/snapshots/shasta-prove.json
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/layer1/core/impl/InboxOptimized1.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-prove.json
Due: repo

feat(docs-site): add auto-lint pre-commit step
  lefthook.yml
  packages/docs-site/package.json
  packages/docs-site/src/content/docs/guides/app-developers/bridge-tokens.mdx
  packages/docs-site/src/content/docs/guides/app-developers/deploy-a-contract.mdx
  packages/docs-site/src/content/docs/guides/app-developers/receive-tokens.mdx
  packages/docs-site/src/content/docs/guides/app-developers/verify-a-contract.mdx
  packages/docs-site/src/content/docs/guides/node-operators/build-a-taiko-alethia-node-from-source.mdx
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
  packages/docs-site/src/content/docs/guides/node-operators/node-troubleshooting.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hoodi.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-alethia-node-with-docker.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-an-ethereum-testnet-node.mdx
  packages/docs-site/src/content/docs/network-reference/contract-addresses.mdx
  packages/docs-site/src/content/docs/network-reference/network-configuration.mdx
  packages/docs-site/src/content/docs/network-reference/rpc-configuration.mdx
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
  packages/docs-site/src/content/docs/resources/terminology.mdx
  packages/docs-site/src/content/docs/start-here/getting-started.mdx
  packages/docs-site/src/content/docs/start-here/set-up-your-wallet.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/block-states.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/based-preconfirmation.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/inception-layers.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/pacaya-fork-taiko-alethia.mdx
  packages/docs-site/src/content/docs/taiko-gwyneth-protocol/what-is-taiko-gwyneth.mdx
Due: repo

updates to isbasedsoncanonicalchain
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
  packages/taiko-client/driver/driver_test.go
Due: none
