Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui-v2, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui-v2:
      glob: "packages/bridge-ui-v2/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui-v2 svelte:check && pnpm -F bridge-ui-v2 lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

feat(protocol): enable remote attestation in SGX prover (#15559)
  .gitmodules
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/contracts/thirdparty/README.md
  packages/protocol/contracts/thirdparty/automata-attestation/AutomataDcapV3Attestation.sol
  packages/protocol/contracts/thirdparty/automata-attestation/interfaces/IAttestation.sol
  packages/protocol/contracts/thirdparty/automata-attestation/interfaces/ISigVerifyLib.sol
  packages/protocol/contracts/thirdparty/automata-attestation/lib/EnclaveIdStruct.sol
  packages/protocol/contracts/thirdparty/automata-attestation/lib/PEMCertChainLib.sol
  packages/protocol/contracts/thirdparty/automata-attestation/lib/QuoteV3Auth/V3Parser.sol
  packages/protocol/contracts/thirdparty/automata-attestation/lib/QuoteV3Auth/V3Struct.sol
  packages/protocol/contracts/thirdparty/automata-attestation/lib/TCBInfoStruct.sol
  packages/protocol/contracts/thirdparty/automata-attestation/lib/interfaces/IPEMCertChainLib.sol
  packages/protocol/contracts/thirdparty/automata-attestation/utils/Asn1Decode.sol
  packages/protocol/contracts/thirdparty/automata-attestation/utils/BytesUtils.sol
  packages/protocol/contracts/thirdparty/automata-attestation/utils/RsaVerify.sol
  packages/protocol/contracts/thirdparty/automata-attestation/utils/SHA1.sol
  packages/protocol/contracts/thirdparty/automata-attestation/utils/SigVerifyLib.sol
  packages/protocol/contracts/thirdparty/automata-attestation/utils/X509DateUtils.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/SetDcapParams.s.sol
  packages/protocol/script/config_dcap_sgx_verifier.sh
  packages/protocol/test/L1/SgxVerifier.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/automata-attestation/AutomataDcapV3AttestationTest.t.sol
  packages/protocol/test/automata-attestation/assets/0923/identity.json
  packages/protocol/test/automata-attestation/assets/0923/tcbInfo.json
  packages/protocol/test/automata-attestation/assets/0923/v3quote.json
  packages/protocol/test/automata-attestation/assets/complex.json
  packages/protocol/test/automata-attestation/common/AttestationBase.t.sol
  packages/protocol/test/automata-attestation/utils/DcapTestUtils.t.sol
  packages/protocol/test/automata-attestation/utils/V3JsonUtils.t.sol
Due: repo

feat(protocol): Tests for delayed bridge (#15648)
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

test for 2step recall message
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

fix lint issue
  packages/protocol/contracts/L1/tiers/OptimisticTierProvider.sol
Due: none

Update SgxVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
Due: none

sync submodule commits
  .gitmodules
Due: none

Update .gitmodules
  .gitmodules
Due: none

fix(protocol): sync submodule commits (#15656)
  .gitmodules
Due: none

chore(protocol): forge fmt and fix lint issue (#15655)
  packages/protocol/contracts/L1/tiers/OptimisticTierProvider.sol
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
Due: none

Update Bridge.sol
  packages/protocol/contracts/bridge/Bridge.sol
Due: none

fmt
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

Update Bridge.t.sol
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

move
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/automata-attestation/AutomataDcapV3Attestation.sol
  packages/protocol/contracts/automata-attestation/README.md
  packages/protocol/contracts/automata-attestation/interfaces/IAttestation.sol
  packages/protocol/contracts/automata-attestation/interfaces/ISigVerifyLib.sol
  packages/protocol/contracts/automata-attestation/lib/EnclaveIdStruct.sol
  packages/protocol/contracts/automata-attestation/lib/PEMCertChainLib.sol
  packages/protocol/contracts/automata-attestation/lib/QuoteV3Auth/V3Parser.sol
  packages/protocol/contracts/automata-attestation/lib/QuoteV3Auth/V3Struct.sol
  packages/protocol/contracts/automata-attestation/lib/TCBInfoStruct.sol
  packages/protocol/contracts/automata-attestation/lib/interfaces/IPEMCertChainLib.sol
  packages/protocol/contracts/automata-attestation/utils/Asn1Decode.sol
  packages/protocol/contracts/automata-attestation/utils/BytesUtils.sol
  packages/protocol/contracts/automata-attestation/utils/RsaVerify.sol
  packages/protocol/contracts/automata-attestation/utils/SHA1.sol
  packages/protocol/contracts/automata-attestation/utils/SigVerifyLib.sol
  packages/protocol/contracts/automata-attestation/utils/X509DateUtils.sol
  packages/protocol/contracts/thirdparty/README.md
  packages/protocol/contracts/verifiers/GuardianVerifier.sol
  packages/protocol/contracts/verifiers/IVerifier.sol
  packages/protocol/contracts/verifiers/PlonkVerifier.yulp
  packages/protocol/contracts/verifiers/PseZkVerifier.sol
  packages/protocol/contracts/verifiers/SgxAndZkVerifier.sol
  packages/protocol/contracts/verifiers/SgxVerifier.sol
  packages/protocol/script/AddSGXVerifierInstances.s.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/automata-attestation/common/AttestationBase.t.sol
  packages/protocol/test/automata-attestation/utils/DcapTestUtils.t.sol
  packages/protocol/test/automata-attestation/utils/V3JsonUtils.t.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
Due: repo

mv
  packages/protocol/.eslintignore
  packages/protocol/.solhintignore
Due: none

breaking change by removing signal service overhead
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

chore(protocol): move `automata-attestation` and `verifiers` up in file hierarchy (#15657)
  packages/protocol/.eslintignore
  packages/protocol/.solhintignore
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/automata-attestation/AutomataDcapV3Attestation.sol
  packages/protocol/contracts/automata-attestation/README.md
  packages/protocol/contracts/automata-attestation/interfaces/IAttestation.sol
  packages/protocol/contracts/automata-attestation/interfaces/ISigVerifyLib.sol
  packages/protocol/contracts/automata-attestation/lib/EnclaveIdStruct.sol
  packages/protocol/contracts/automata-attestation/lib/PEMCertChainLib.sol
  packages/protocol/contracts/automata-attestation/lib/QuoteV3Auth/V3Parser.sol
  packages/protocol/contracts/automata-attestation/lib/QuoteV3Auth/V3Struct.sol
  packages/protocol/contracts/automata-attestation/lib/TCBInfoStruct.sol
  packages/protocol/contracts/automata-attestation/lib/interfaces/IPEMCertChainLib.sol
  packages/protocol/contracts/automata-attestation/utils/Asn1Decode.sol
  packages/protocol/contracts/automata-attestation/utils/BytesUtils.sol
  packages/protocol/contracts/automata-attestation/utils/RsaVerify.sol
  packages/protocol/contracts/automata-attestation/utils/SHA1.sol
  packages/protocol/contracts/automata-attestation/utils/SigVerifyLib.sol
  packages/protocol/contracts/automata-attestation/utils/X509DateUtils.sol
  packages/protocol/contracts/thirdparty/README.md
  packages/protocol/contracts/verifiers/GuardianVerifier.sol
  packages/protocol/contracts/verifiers/IVerifier.sol
  packages/protocol/contracts/verifiers/PlonkVerifier.yulp
  packages/protocol/contracts/verifiers/PseZkVerifier.sol
  packages/protocol/contracts/verifiers/SgxAndZkVerifier.sol
  packages/protocol/contracts/verifiers/SgxVerifier.sol
  packages/protocol/script/AddSGXVerifierInstances.s.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/automata-attestation/common/AttestationBase.t.sol
  packages/protocol/test/automata-attestation/utils/DcapTestUtils.t.sol
  packages/protocol/test/automata-attestation/utils/V3JsonUtils.t.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
Due: repo

feat(protocol): enforce an invocation delay for bridged messages (#15555)
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

support hex quote
  packages/protocol/contracts/thirdparty/automata-attestation/lib/QuoteV3Auth/V3Parser.sol
  packages/protocol/script/SetDcapParams.s.sol
  packages/protocol/script/config_dcap_sgx_verifier.sh
  packages/protocol/test/L1/SgxVerifier.t.sol
  packages/protocol/test/automata-attestation/AutomataDcapV3AttestationTest.t.sol
  packages/protocol/test/automata-attestation/common/AttestationBase.t.sol
  packages/protocol/test/automata-attestation/utils/V3QuoteParseUtils.t.sol
Due: none

Add a new event for 2 step briding
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

refactor(protocol): improve sgx test, support hex quote instead of json file (#15659)
  packages/protocol/contracts/automata-attestation/lib/QuoteV3Auth/V3Parser.sol
  packages/protocol/script/SetDcapParams.s.sol
  packages/protocol/script/config_dcap_sgx_verifier.sh
  packages/protocol/test/automata-attestation/AutomataDcapV3AttestationTest.t.sol
  packages/protocol/test/automata-attestation/common/AttestationBase.t.sol
  packages/protocol/test/automata-attestation/utils/V3QuoteParseUtils.t.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
Due: none

Prevent re-registration of the same attestation
  packages/protocol/contracts/verifiers/SgxVerifier.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
Due: none

More comments
  packages/protocol/contracts/verifiers/SgxVerifier.sol
Due: none

remove generic
  packages/relayer/pkg/proof/block_header.go
  packages/relayer/pkg/proof/prover.go
Due: none

Add check to address registry by owner too
  packages/protocol/contracts/verifiers/SgxVerifier.sol
Due: none

move back var init
  packages/protocol/contracts/verifiers/SgxVerifier.sol
Due: none

chore(relayer): Add an option to set the start block number for the indexer
  packages/relayer/.gitignore
  packages/relayer/cmd/flags/indexer.go
  packages/relayer/indexer/config.go
  packages/relayer/indexer/indexer.go
  packages/relayer/indexer/set_initial_processing_block_by_mode.go
Due: none

NFT Import step refactor
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/IDInput/IDInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep/Import.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep/ImportActions.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep/ManualImport.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep/ScannedImport.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep/state.ts
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/StepNavigation/StepNavigation.svelte
  packages/bridge-ui-v2/src/components/Bridge/types.ts
  packages/bridge-ui-v2/src/libs/util/fetchNFTMetadata.ts
Due: bridge-ui-v2

import fixes
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep/Import.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep/ManualImport.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep/ScannedImport.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/StepNavigation/StepNavigation.svelte
Due: bridge-ui-v2

initial work on new chainselector
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/SwitchChainsButton.svelte
  packages/bridge-ui-v2/src/components/ChainSelectors/ChainSelectorWrapper.svelte
  packages/bridge-ui-v2/src/components/ChainSelectors/ChainsDropdown.svelte
  packages/bridge-ui-v2/src/components/ChainSelectors/CombinedChainSelector.svelte
  packages/bridge-ui-v2/src/components/ChainSelectors/index.ts
  packages/bridge-ui-v2/src/libs/customActions/closeOnEscapeOrOutsideClick.ts
Due: bridge-ui-v2

styling
  packages/bridge-ui-v2/src/components/ChainSelectors/ChainsDropdown.svelte
  packages/bridge-ui-v2/src/components/ChainSelectors/CombinedChainSelector.svelte
Due: bridge-ui-v2

refector chrosschain fetching, initial review step
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ConfirmationStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep/Review.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCard.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTList.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTListItem.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTMetadata.ts
  packages/bridge-ui-v2/src/libs/token/getAddress.ts
  packages/bridge-ui-v2/src/libs/token/getCanonicalInfoForToken.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainInfo.test.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainInfo.ts
  packages/bridge-ui-v2/src/libs/token/getTokenApprovalStatus.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.ts
  packages/bridge-ui-v2/src/libs/token/isDeployedCrossChain.ts
  packages/bridge-ui-v2/src/libs/token/types.ts
  packages/bridge-ui-v2/src/stores/canonical.ts
Due: bridge-ui-v2, repo

NFTMetadata rework, getting canonical and crosschain info
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep/Import.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep/Review.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCard.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTListItem.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/libs/bridge/fetchNFTs.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTMetadata.ts
  packages/bridge-ui-v2/src/libs/token/getAddress.ts
  packages/bridge-ui-v2/src/libs/token/getCanonicalInfoForToken.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainInfoForToken.test.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainInfoForToken.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.ts
  packages/bridge-ui-v2/src/libs/token/isDeployedCrossChain.ts
  packages/bridge-ui-v2/src/libs/util/resolveIPFSUri.ts
  packages/bridge-ui-v2/src/libs/util/safeReadContract.ts
Due: bridge-ui-v2

chainselector update and fix
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelectorWrapper.svelte
  packages/bridge-ui-v2/src/components/ChainSelectors/ChainsDropdown.svelte
  packages/bridge-ui-v2/src/components/ChainSelectors/CombinedChainSelector.svelte
  packages/bridge-ui-v2/src/libs/network/getAlternateNetwork.ts
  packages/bridge-ui-v2/src/libs/network/index.ts
  packages/bridge-ui-v2/src/routes/+layout.svelte
Due: bridge-ui-v2

abi update
  packages/bridge-ui-v2/src/abi/index.ts
Due: bridge-ui-v2

update canonical util
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/token/getCanonicalInfoForToken.ts
Due: bridge-ui-v2

add destchain check
  packages/bridge-ui-v2/src/components/ChainSelectors/CombinedChainSelector.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/libs/token/fetchNFTImage.ts
Due: bridge-ui-v2

new canonical check util
  packages/bridge-ui-v2/src/libs/token/getCanonicalInfoForToken.ts
  packages/bridge-ui-v2/src/stores/canonical.ts
Due: bridge-ui-v2
