Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

bridge-ui:
  run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint && git add {staged_files}

repo:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

add actionmd
  packages/protocol/script/layer1/proposals/Proposal0007.action.md
  packages/protocol/script/layer1/proposals/Proposal0007.s.sol
Due: repo

raise gas limit
  packages/protocol/script/layer1/proposals/Proposal0007.s.sol
Due: none

Update Proposal0007 with gas limit and address changes
  packages/protocol/script/layer1/proposals/Proposal0007.action.md
  packages/protocol/script/layer1/proposals/Proposal0007.s.sol
Due: repo

Update Proposal0007 gas limit and simplify constants (#21012)
  packages/protocol/script/layer1/proposals/Proposal0007.action.md
  packages/protocol/script/layer1/proposals/Proposal0007.s.sol
Due: repo

feat(protocol): add new L1 address constants to LibL1Addrs
  packages/protocol/contracts/layer1/mainnet/LibL1Addrs.sol
Due: none

Update protocol generated artifacts
  packages/protocol/contracts/layer1/mainnet/LibL1Addrs.sol
Due: none

Update SignalService.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
Due: none

Update protocol generated artifacts
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

feat(bridge): remove isContract check and unused imports for EIP-7702 compatibility
  packages/protocol/contracts/shared/bridge/Bridge.sol
Due: none

Remove ERC20VotesUpgradeable import and unused Address usage (#21014)
  packages/protocol/contracts/shared/bridge/Bridge.sol
Due: none

fix(protocol): implement EIP-7201 namespaced storage in SignalService with backward-compatible fallback
  packages/protocol/contracts/shared/libs/LibTrieProof.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/test/shared/libs/LibTrieProof.t.sol
Due: none

style: apply linter formatting to imports
  packages/protocol/contracts/shared/signal/SignalService.sol
Due: none

Update protocol generated artifacts
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
Due: repo

refactor: pass legacySlotExpiry as constructor parameter
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/script/layer1/core/DeployProtocolOnL1.s.sol
  packages/protocol/test/layer1/core/inbox/InboxTestBase.sol
  packages/protocol/test/layer2/core/Anchor.t.sol
  packages/protocol/test/shared/CommonTest.sol
  packages/protocol/test/shared/helpers/SignalService_WithoutProofVerification.sol
Due: none

refactor: inline _verifyMerkleProofWithFallback
  packages/protocol/contracts/shared/signal/SignalService.sol
Due: none

refactor: simplify legacy slot fallback logic
  packages/protocol/contracts/shared/signal/SignalService.sol
Due: none

style: apply linter cleanup to try-catch block
  packages/protocol/contracts/shared/signal/SignalService.sol
Due: none

Update protocol generated artifacts
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/script/layer1/core/DeployProtocolOnL1.s.sol
  packages/protocol/test/layer1/core/inbox/InboxTestBase.sol
  packages/protocol/test/layer2/core/Anchor.t.sol
  packages/protocol/test/shared/CommonTest.sol
Due: none

test: add coverage for legacy slot fallback in verifySignalReceived
  packages/protocol/test/shared/signal/SignalService.t.sol
Due: none

Update protocol generated artifacts
  packages/protocol/test/shared/signal/SignalService.t.sol
Due: none

feat(taiko-client,taiko-client-rs): update Go / Rust contract bindings (#21011)
  packages/taiko-client-rs/crates/bindings/src/anchor.rs
  packages/taiko-client-rs/crates/bindings/src/codec.rs
  packages/taiko-client-rs/crates/bindings/src/inbox.rs
  packages/taiko-client-rs/crates/bindings/src/lookahead_store.rs
  packages/taiko-client-rs/crates/bindings/src/preconf_whitelist.rs
  packages/taiko-client/bindings/shasta/.githead
  packages/taiko-client/bindings/shasta/gen_shasta_inbox.go
Due: none

fix(taiko-client): remove redundant IsShasta guard in HandleShasta
  packages/taiko-client/prover/event_handler/shasta_proposed.go
Due: none

use new taiko anchor with same solady dependency
  packages/protocol/script/layer1/proposals/PROPOSAL-0007.md
  packages/protocol/script/layer1/proposals/Proposal0007.s.sol
Due: repo

update action.md
  packages/protocol/script/layer1/proposals/Proposal0007.action.md
Due: repo

fix proposalAge
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
Due: none

bring back IBondProcessor
  packages/protocol/contracts/layer2/core/BondManager.sol
  packages/protocol/contracts/layer2/core/IBondManager.sol
  packages/protocol/contracts/layer2/core/IBondProcessor.sol
  packages/protocol/snapshots/shasta-prove.json
Due: repo

split deposit and depositTo to avoid confusion
  packages/protocol/contracts/layer2/core/BondManager.sol
  packages/protocol/contracts/layer2/core/IBondManager.sol
  packages/protocol/test/layer2/core/Anchor.t.sol
  packages/protocol/test/layer2/core/BondManager.t.sol
Due: none

fix(protocol): address comments on PR #21009 (#21017)
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer2/core/BondManager.sol
  packages/protocol/contracts/layer2/core/IBondManager.sol
  packages/protocol/contracts/layer2/core/IBondProcessor.sol
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer2/core/Anchor.t.sol
  packages/protocol/test/layer2/core/BondManager.t.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-prove.json
Due: repo

feat(protocol): recreated the @gustavo's same PR with upstream changes merged (#21009)
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/impl/Inbox_Layout.sol
  packages/protocol/contracts/layer1/core/libs/LibBondInstruction.sol
  packages/protocol/contracts/layer1/core/libs/LibInboxSetup.sol
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer2/core/Anchor.sol
  packages/protocol/contracts/layer2/core/BondManager.sol
  packages/protocol/contracts/layer2/core/IBondManager.sol
  packages/protocol/contracts/layer2/core/IBondProcessor.sol
  packages/protocol/contracts/shared/libs/LibBonds.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/protocol/test/genesis/data/genesis_config.js
  packages/protocol/test/genesis/data/genesis_config.json
  packages/protocol/test/genesis/generate/interface.ts
  packages/protocol/test/genesis/generate/taikoAnchor.ts
  packages/protocol/test/genesis/test_config.js
  packages/protocol/test/layer1/core/inbox/InboxActivation.t.sol
  packages/protocol/test/layer1/core/inbox/InboxProve.t.sol
  packages/protocol/test/layer1/core/inbox/InboxTestBase.sol
  packages/protocol/test/layer1/core/inbox/InboxWhitelistProver.t.sol
  packages/protocol/test/layer2/core/Anchor.t.sol
  packages/protocol/test/layer2/core/BondManager.t.sol
  packages/protocol/test/shared/libs/LibBonds.t.sol
Due: repo

feat: rename
  packages/taiko-client-rs/crates/p2p/src/catchup.rs
  packages/taiko-client-rs/crates/p2p/src/client.rs
  packages/taiko-client-rs/crates/p2p/src/config.rs
  packages/taiko-client-rs/crates/p2p/src/error.rs
  packages/taiko-client-rs/crates/p2p/src/handlers.rs
  packages/taiko-client-rs/crates/p2p/src/lib.rs
  packages/taiko-client-rs/crates/p2p/src/metrics.rs
  packages/taiko-client-rs/crates/p2p/src/storage/mod.rs
  packages/taiko-client-rs/crates/p2p/src/types.rs
  packages/taiko-client-rs/crates/p2p/src/validation.rs
  packages/taiko-client-rs/crates/p2p/tests/integration_smoke.rs
  packages/taiko-client-rs/docs/plans/2025-12-12-p2p-sdk.md
Due: repo

feat(taiko-client,taiko-client-rs): update Go / Rust contract bindings
  packages/taiko-client-rs/crates/bindings/src/anchor.rs
  packages/taiko-client-rs/crates/bindings/src/codec.rs
  packages/taiko-client-rs/crates/bindings/src/inbox.rs
  packages/taiko-client/bindings/shasta/.githead
  packages/taiko-client/bindings/shasta/gen_bond_manager.go
  packages/taiko-client/bindings/shasta/gen_shasta_anchor.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox.go
Due: none

feat(taiko-client,taiko-client-rs): update Go / Rust contract bindings (#21019)
  packages/taiko-client-rs/crates/bindings/src/anchor.rs
  packages/taiko-client-rs/crates/bindings/src/codec.rs
  packages/taiko-client-rs/crates/bindings/src/inbox.rs
  packages/taiko-client/bindings/shasta/.githead
  packages/taiko-client/bindings/shasta/gen_bond_manager.go
  packages/taiko-client/bindings/shasta/gen_shasta_anchor.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox.go
Due: none

fix(bridge-ui): swap gas limit values for ERC1155 bridge
  packages/bridge-ui/src/libs/bridge/ERC1155Bridge.ts
Due: bridge-ui

refactor(bridge-ui): remove quota manager (#20794)
  packages/bridge-ui/config/schemas/configuredBridges.schema.json
  packages/bridge-ui/config/schemas/configuredCustomTokens.schema.json
  packages/bridge-ui/package.json
  packages/bridge-ui/src/components/Bridge/FungibleBridge.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ImportStep/ImportStep.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ImportStep/TokenInput/TokenInput.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/StepNavigation/StepNavigation.svelte
  packages/bridge-ui/src/components/Dialogs/Shared/ClaimPreCheck.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/bridge/checkBridgeQuota.ts
  packages/bridge-ui/src/libs/bridge/getContractAddressByType.ts
  packages/bridge-ui/src/libs/bridge/types.ts
  packages/bridge-ui/src/libs/token/tokens.ts
  packages/bridge-ui/src/libs/token/types.ts
  pnpm-lock.yaml
Due: bridge-ui, repo

feat(protocol): remove MIN_ANCHOR_OFFSET from Shasta derivation (#20967)
  packages/protocol/docs/Derivation.md
  packages/taiko-client-rs/bin/client/src/commands/proposer.rs
  packages/taiko-client-rs/bin/client/src/flags/proposer.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/validation.rs
  packages/taiko-client-rs/crates/driver/tests/shasta_event_sync.rs
  packages/taiko-client-rs/crates/proposer/src/config.rs
  packages/taiko-client-rs/crates/proposer/src/error.rs
  packages/taiko-client-rs/crates/proposer/src/proposer.rs
  packages/taiko-client-rs/crates/proposer/src/transaction_builder.rs
  packages/taiko-client-rs/crates/proposer/tests/shasta_propose.rs
  packages/taiko-client-rs/crates/protocol/src/shasta/constants.rs
  packages/taiko-client/bindings/manifest/manifest.go
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/chain_syncer/event/manifest/shasta.go
  packages/taiko-client/driver/chain_syncer/event/manifest/shasta_test.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata_test.go
  packages/taiko-client/proposer/transaction_builder/fallback.go
  packages/taiko-client/proposer/transaction_builder/fallback_test.go
Due: repo

chore: update ci
  .github/workflows/repo--validate-pr-title.yml
Due: repo

feat(ejector): add last_reorged_to metric (#20953)
  packages/ejector/Cargo.lock
  packages/ejector/src/metrics.rs
  packages/ejector/src/monitor.rs
  packages/ejector/src/monitor_reorg.rs
Due: none

chore(main): release ejector 0.2.0
  .release-please-manifest.json
  packages/ejector/CHANGELOG.md
  packages/ejector/Cargo.toml
Due: repo

Path conditions:
  bridge-ui: any of: packages/bridge-ui/**.{js,ts,css,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo: any of: **.{json,md,yaml,yml}
