Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui-v2, protocol_sol, protocol_ts, repo

bridge-ui-v2:
  run: pnpm -F bridge-ui-v2 svelte:check && pnpm -F bridge-ui-v2 lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint:fix && git add {staged_files}

repo:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

save stat type and token address
  packages/eventindexer/repo/stat.go
Due: none

.
  packages/eventindexer/indexer/save_block_assigned_event.go
  packages/eventindexer/indexer/save_transition_proved_event.go
  packages/eventindexer/repo/stat_test.go
Due: none

ass assignment hook to deploy
  packages/protocol/script/DeployOnL1.s.sol
Due: none

Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Due: none

refactor: prover market page
  packages/website/pages/docs/reference/prover-market-page.mdx
Due: none

Add timestamp check for readonly function and more tests
  packages/protocol/contracts/team/airdrop/ERC20Airdrop2.sol
  packages/protocol/test/team/airdrop/MerkleClaimable.t.sol
Due: none

refactor: prover market page (#15237)
  packages/website/pages/docs/reference/prover-market-page.mdx
Due: none

Update tokenomics_batch_auction.md
  packages/protocol/docs/tokenomics_batch_auction.md
Due: repo

Update prover-market-page.mdx (#15239)
  packages/website/pages/docs/reference/prover-market-page.mdx
Due: none

feat(protocol): bridged token name and symbol overriding
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
Due: none

Update generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
Due: bridge-ui-v2

fmt
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
Due: none

docs(website): update reference docs (#15018)
  packages/website/pages/docs/reference/contract-documentation/L1/ProofVerifier.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoToken.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
  packages/website/pages/docs/reference/contract-documentation/bridge/Bridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/EtherVault.md
  packages/website/pages/docs/reference/contract-documentation/bridge/IBridge.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressManager.md
  packages/website/pages/docs/reference/contract-documentation/signal/SignalService.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/BridgedERC1155.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/BridgedERC20.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/BridgedERC721.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/ERC1155Vault.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/ERC20Vault.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/ERC721Vault.md
Due: repo

chore(website): Adds Particle Taiko Onboarding to learning-resources (#15032)
  packages/website/pages/docs/resources/learning-resources.mdx
Due: none

docs(website): changed chainlist link to list taiko chains and testnets (#15212)
  packages/website/pages/docs/guides/setup-your-wallet.mdx
Due: none

Update packages/protocol/docs/tokenomics_batch_auction.md
  packages/protocol/docs/tokenomics_batch_auction.md
Due: repo

squashed changes
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCard.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTList.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTListItem.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/libs/bridge/fetchNFTs.ts
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.test.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.ts
  packages/bridge-ui-v2/src/libs/util/fetchNFTMetadata.ts
  packages/bridge-ui-v2/src/stores/index.ts
  packages/bridge-ui-v2/src/stores/metadata.ts
Due: bridge-ui-v2, repo

cleanup
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
Due: bridge-ui-v2

update lock file
  pnpm-lock.yaml
Due: repo

updated icons and messages, i18n
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ConfirmationStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCard.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTListItem.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/static/placeholder.svg
Due: bridge-ui-v2, repo

DOCS(WEBSITE) - Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Due: none

Update EssentialContract.sol
  packages/protocol/contracts/common/EssentialContract.sol
Due: none

fix bug
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
Due: none

cleanup
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/LibBridgedToken.sol
Due: none

more
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
Due: none

fix
  packages/protocol/utils/generate_genesis/taikoL2.ts
Due: none

refactor
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/libs/LibDeploy.sol
  packages/protocol/contracts/tokenvault/BaseVault.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
Due: none

Update DeployOnL1.s.sol
  packages/protocol/script/DeployOnL1.s.sol
Due: none

Update DeployOnL1.s.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
Due: none

Path conditions:
  bridge-ui-v2: any of: packages/bridge-ui-v2/**.{js,ts,css,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo: any of: **.{json,md,yaml,yml}
