Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui-v2, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui-v2:
      glob: "packages/bridge-ui-v2/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui-v2 svelte:check && pnpm -F bridge-ui-v2 lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

Format
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
Due: bridge-ui-v2

Update
  packages/bridge-ui-v2/src/libs/bridge/isTransactionProcessable.ts
  packages/bridge-ui-v2/src/libs/proof/types.ts
Due: bridge-ui-v2

feat(bridge-ui-v2): L2 <-> L2 bridging with multi-hops (#15393)
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/config/sample/configuredBridges.example
  packages/bridge-ui-v2/config/schemas/configuredBridges.schema.json
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateEventIndexerConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.test.ts
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.ts
  packages/bridge-ui-v2/src/libs/bridge/isTransactionProcessable.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/proof/index.ts
  packages/bridge-ui-v2/src/libs/proof/types.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui-v2/src/libs/token/checkOwnership.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
Due: bridge-ui-v2, repo

chore(bridge-ui-v2): refactoring and style adjustments (#15382)
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateEventIndexerConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/state.ts
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/Button/ActionButton.svelte
  packages/bridge-ui-v2/src/components/Button/CloseButton.svelte
  packages/bridge-ui-v2/src/components/Button/index.ts
  packages/bridge-ui-v2/src/components/Button/states.ts
  packages/bridge-ui-v2/src/components/Button/types.ts
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelectorWrapper.svelte
  packages/bridge-ui-v2/src/components/CloseButton/index.ts
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/InsufficientFunds.svelte
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusFilterDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusInfoDialog.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/customActions/closeOnEscapeOrOutsideClick.ts
  packages/bridge-ui-v2/src/libs/customActions/index.ts
  packages/bridge-ui-v2/src/libs/customActions/withHoverAndFocusListener.ts
  packages/bridge-ui-v2/src/styles/components.css
  packages/bridge-ui-v2/tailwind.config.js
Due: bridge-ui-v2, repo

Update Bridge.sol
  packages/protocol/contracts/bridge/Bridge.sol
Due: none

Update Bridge.t.sol
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

Revert "feat(bridge-ui-v2): L2 <-> L2 bridging with multi-hops (#15393)"
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/config/sample/configuredBridges.example
  packages/bridge-ui-v2/config/schemas/configuredBridges.schema.json
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateEventIndexerConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.test.ts
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.ts
  packages/bridge-ui-v2/src/libs/bridge/isTransactionProcessable.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/proof/index.ts
  packages/bridge-ui-v2/src/libs/proof/types.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui-v2/src/libs/token/checkOwnership.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
Due: bridge-ui-v2, repo

Revert "Revert "feat(bridge-ui-v2): L2 <-> L2 bridging with multi-hops (#15393)""
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/config/sample/configuredBridges.example
  packages/bridge-ui-v2/config/schemas/configuredBridges.schema.json
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateEventIndexerConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.test.ts
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.ts
  packages/bridge-ui-v2/src/libs/bridge/isTransactionProcessable.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/proof/index.ts
  packages/bridge-ui-v2/src/libs/proof/types.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui-v2/src/libs/token/checkOwnership.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
Due: bridge-ui-v2, repo

docs: Improve clarity in contribution learning link
  CONTRIBUTING.md
Due: repo

fix approve btn for ERC20, add test nft
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ConfirmationStep.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/libs/token/tokens.ts
Due: bridge-ui-v2

fix faucet button state
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
Due: bridge-ui-v2

fix amount not refreshing/resetting correctly
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
Due: bridge-ui-v2

fix form resetting issues, back button clicks
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/IDInput/IDInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Due: bridge-ui-v2, repo

Updates to address comments
  packages/bridge-ui-v2/config/sample/configuredBridges.example
  packages/bridge-ui-v2/config/schemas/configuredBridges.schema.json
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
Due: bridge-ui-v2, repo

Updates to address comments
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
Due: bridge-ui-v2

Refactor
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/isTransactionProcessable.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
Due: bridge-ui-v2

Refactor
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.test.ts
Due: bridge-ui-v2

fix(bridge): fix multiple retry
  packages/protocol/contracts/bridge/Bridge.sol
Due: none

fix
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

Update
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
  packages/bridge-ui-v2/src/libs/proof/types.ts
Due: bridge-ui-v2

Refactor
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
Due: bridge-ui-v2

Update
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
  packages/bridge-ui-v2/src/libs/proof/types.ts
Due: bridge-ui-v2

Fix lint errors
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/token/checkOwnership.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
Due: bridge-ui-v2

Update
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
Due: bridge-ui-v2

refactor(protocol): check message sent on source chain before recalling (#15394)
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

fix(protocol): fix Bridge bug in retrying message (#15403)
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/test/bridge/Bridge.t.sol
Due: none

feat(bridge-ui-v2): L2 <-> L2 bridging with multi-hop (#15395)
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/config/sample/configuredBridges.example
  packages/bridge-ui-v2/config/schemas/configuredBridges.schema.json
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateEventIndexerConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/proof/index.ts
  packages/bridge-ui-v2/src/libs/proof/types.ts
Due: bridge-ui-v2, repo

chore(bridge-ui-v2): fix minor color issue in notification toast
  packages/bridge-ui-v2/src/i18n/en.json
Due: repo

code refactor
  packages/starter-dapp/src/domain/chain.ts
Due: none

minor fix
  packages/protocol/docs/actors_privileges_deployments.md
  packages/protocol/package.json
Due: repo

chore(bridge-ui-v2): fix minor color issue in notification toast (#15404)
  packages/bridge-ui-v2/src/i18n/en.json
Due: repo

type fix
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/fetchTransactions.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
Due: bridge-ui-v2

fix(bridge-ui-v2): bugfixes (#15400)
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/IDInput/IDInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ConfirmationStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/token/tokens.ts
Due: bridge-ui-v2, repo

update types
  packages/bridge-ui-v2/src/libs/bridge/types.ts
Due: bridge-ui-v2

Update types
  packages/bridge-ui-v2/src/libs/bridge/types.ts
Due: bridge-ui-v2

add error messages
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Due: bridge-ui-v2, repo

docs(repo): Improve clarity and correct grammatical error in contribution learning link (#15398)
  CONTRIBUTING.md
Due: repo

chore(bridge-ui-v2): add error messages (#15412)
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Due: bridge-ui-v2, repo
