Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

bridge-ui:
  run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint && git add {staged_files}

repo:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

fix(relayer): propagate submitBridgeTx error in Start (#20876)
  packages/relayer/bridge/bridge.go
Due: none

chore(bridge): remove redundant null assignment (#20980)
  packages/bridge-ui/src/libs/polling/messageStatusPoller.ts
Due: bridge-ui

fix(protocol): miscellaneous code improvements (#20995)
  packages/protocol/contracts/layer1/verifiers/SP1Verifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/ComposeVerifier.sol
  packages/protocol/contracts/shared/fork-router/ForkRouter.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/verifiers/ComposeVerifier.t.sol
Due: none

Update protocol generated artifacts
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

fix(protocol): use getBeaconBlockRootAtOrAfter in `PreconfWhitelist` to account for L1 missed slots (#20992)
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/core/inbox/InboxTestBase.sol
  packages/protocol/test/layer1/preconf/mocks/MockBeaconBlockRoot.sol
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
Due: repo

refactor(taiko-client-rs): avoid cloning preconfirmation execution payload
  packages/taiko-client-rs/crates/driver/src/production/path.rs
Due: none

fix audit issues
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibBlobs.sol
  packages/protocol/contracts/layer1/core/libs/LibProveInputCodec.sol
  packages/protocol/contracts/layer1/core/libs/LibProvedEventCodec.sol
  packages/protocol/contracts/layer1/core/libs/LibTransitionCodec.sol
  packages/protocol/contracts/layer2/core/Anchor.sol
  packages/protocol/contracts/shared/signal/LibSignals.sol
  packages/protocol/docs/Derivation.md
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer2/core/Anchor.t.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/layer1/core/libs/LibProvedEventCodec.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer2/core/Anchor.t.sol
Due: repo

simplify Proved event and make Anchored event more meaningful
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibProvedEventCodec.sol
  packages/protocol/contracts/layer2/core/Anchor.sol
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/libs/LibProvedEventCodec.t.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/libs/LibProvedEventCodec.t.sol
Due: repo

add firstNewProposalId to the event
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibProvedEventCodec.sol
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/libs/LibProvedEventCodec.t.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/libs/LibProvedEventCodec.t.sol
Due: repo

remove custom proved event codec
  packages/protocol/contracts/layer1/core/iface/ICodec.sol
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Codec.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibProvedEventCodec.sol
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/libs/LibProvedEventCodec.t.sol
Due: repo

feat(bridge): remove isContract check for EIP-7702 (#20939)
  packages/protocol/contracts/shared/bridge/Bridge.sol
  packages/protocol/test/shared/bridge/Bridge2_processMessage.t.sol
Due: none

fix(signal-service): add whenNotPaused modifier to signal operations (#20933)
  packages/protocol/contracts/shared/signal/SignalService.sol
Due: none

flatten proposal struct
  packages/protocol/contracts/layer1/core/iface/ICodec.sol
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Codec.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer1/core/libs/LibInboxSetup.sol
  packages/protocol/contracts/layer1/core/libs/LibProposedEventCodec.sol
  packages/protocol/docs/Derivation.md
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/inbox/InboxPropose.t.sol
  packages/protocol/test/layer1/core/libs/LibProposedEventCodec.t.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibProposedEventCodec.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/libs/LibProposedEventCodec.t.sol
Due: repo

faet: update
  packages/taiko-client-rs/crates/p2p/src/client.rs
  packages/taiko-client-rs/crates/p2p/src/config.rs
  packages/taiko-client-rs/crates/p2p/src/metrics.rs
  packages/taiko-client-rs/crates/p2p/src/storage/mod.rs
  packages/taiko-client-rs/crates/p2p/src/validation.rs
Due: none

refactor(taiko-client-rs): avoid cloning preconfirmation execution payload (#21027)
  packages/taiko-client-rs/crates/driver/src/production/path.rs
Due: none

chore(taiko-client): reduce monitor interval
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Due: none

simpligy Proposed event
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibProposedEventCodec.sol
  packages/protocol/docs/Derivation.md
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/inbox/InboxCapacity.t.sol
  packages/protocol/test/layer1/core/inbox/InboxPropose.t.sol
  packages/protocol/test/layer1/core/inbox/InboxProve.t.sol
  packages/protocol/test/layer1/core/inbox/InboxTestBase.sol
  packages/protocol/test/layer1/core/inbox/InboxWhitelistProver.t.sol
  packages/protocol/test/layer1/core/libs/LibProposedEventCodec.t.sol
Due: repo

chore(protocol): flatten proposal struct (#21032)
  packages/protocol/contracts/layer1/core/iface/ICodec.sol
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Codec.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer1/core/libs/LibInboxSetup.sol
  packages/protocol/contracts/layer1/core/libs/LibProposedEventCodec.sol
  packages/protocol/docs/Derivation.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/inbox/InboxPropose.t.sol
  packages/protocol/test/layer1/core/libs/LibProposedEventCodec.t.sol
Due: repo

feat(protocol): simplify proved event (#21030)
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibProvedEventCodec.sol
  packages/protocol/contracts/layer2/core/Anchor.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/libs/LibProvedEventCodec.t.sol
Due: repo

fix test
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
Due: none

chore(protocol): remove custom proved event codec (#21031)
  packages/protocol/contracts/layer1/core/iface/ICodec.sol
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Codec.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer1/core/libs/LibInboxSetup.sol
  packages/protocol/contracts/layer1/core/libs/LibProposedEventCodec.sol
  packages/protocol/contracts/layer1/core/libs/LibProvedEventCodec.sol
  packages/protocol/docs/Derivation.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/inbox/InboxPropose.t.sol
  packages/protocol/test/layer1/core/libs/LibProposedEventCodec.t.sol
  packages/protocol/test/layer1/core/libs/LibProvedEventCodec.t.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
Due: repo

fix(protocol): redundant code and unused components (#21029)
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibBlobs.sol
  packages/protocol/contracts/layer1/core/libs/LibProveInputCodec.sol
  packages/protocol/contracts/layer1/core/libs/LibTransitionCodec.sol
  packages/protocol/contracts/layer2/core/Anchor.sol
  packages/protocol/contracts/shared/signal/LibSignals.sol
  packages/protocol/docs/Derivation.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer2/core/Anchor.t.sol
Due: repo

flatten Proposed event and update tests
  packages/protocol/contracts/layer1/core/iface/ICodec.sol
  packages/protocol/contracts/layer1/core/iface/IInbox.sol
  packages/protocol/contracts/layer1/core/impl/Codec.sol
  packages/protocol/contracts/layer1/core/impl/Inbox.sol
  packages/protocol/contracts/layer1/core/libs/LibProposedEventCodec.sol
  packages/protocol/docs/Derivation.md
  packages/protocol/gas-reports/LibProposedEventCodec.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/core/inbox/InboxCapacity.t.sol
  packages/protocol/test/layer1/core/inbox/InboxPropose.t.sol
  packages/protocol/test/layer1/core/inbox/InboxProve.t.sol
  packages/protocol/test/layer1/core/inbox/InboxTestBase.sol
  packages/protocol/test/layer1/core/inbox/InboxWhitelistProver.t.sol
  packages/protocol/test/layer1/core/libs/LibProposedEventCodec.t.sol
Due: repo

chore(taiko-client): reduce monitor interval (#21033)
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
Due: none

feat(protocol): make taiko cheaper (#20959)
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
  packages/protocol/test/layer2/LibEIP1559.t.sol
Due: none

cherry-pick changes
  packages/protocol/contracts/layer1/alethia-hoodi/AlethiaHoodiInbox.sol
Due: none

upgrade inbox & anchor
  packages/protocol/script/layer1/hoodi/UpgradeInboxAndAnchor.s.sol
Due: none

deploy anchor
  packages/protocol/script/layer2/hoodi/DeployAnchor.s.sol
Due: none

feat: update go bindings
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_shasta.go
  packages/taiko-client/bindings/shasta/.githead
  packages/taiko-client/bindings/shasta/gen_compose_verifier.go
  packages/taiko-client/bindings/shasta/gen_shasta_anchor.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox_codec.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/shasta.go
  packages/taiko-client/driver/chain_syncer/event/manifest/shasta.go
  packages/taiko-client/driver/chain_syncer/event/manifest/shasta_test.go
  packages/taiko-client/driver/chain_syncer/event/syncer.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/state/state.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/subscription.go
  packages/taiko-client/prover/event_handler/batches_proved.go
  packages/taiko-client/prover/event_handler/shasta_proposed.go
  packages/taiko-client/prover/init.go
Due: none

feat(ejector): add check if L2 is not syncing
  packages/ejector/Cargo.lock
  packages/ejector/bin/ejector/src/main.rs
  packages/ejector/src/monitor.rs
Due: none

review fixes
  packages/ejector/src/monitor.rs
Due: none

feat: rs bindings
  packages/taiko-client-rs/crates/bindings/src/anchor.rs
  packages/taiko-client-rs/crates/bindings/src/codec.rs
  packages/taiko-client-rs/crates/bindings/src/inbox.rs
  packages/taiko-client-rs/crates/bindings/src/lookahead_store.rs
  packages/taiko-client-rs/crates/bindings/src/preconf_whitelist.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/anchor.rs
  packages/taiko-client-rs/crates/driver/src/derivation/pipeline/shasta/pipeline/mod.rs
  packages/taiko-client-rs/crates/driver/src/sync/event.rs
Due: none

fix: fix typo
  packages/taiko-client/driver/chain_syncer/event/syncer.go
Due: none

Path conditions:
  bridge-ui: any of: packages/bridge-ui/**.{js,ts,css,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo: any of: **.{json,md,yaml,yml}
