Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui-v2, protocol_sol, protocol_ts, repo

bridge-ui-v2:
  run: pnpm -F bridge-ui-v2 svelte:check && pnpm -F bridge-ui-v2 lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint:fix && git add {staged_files}

repo:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

track amount of proofs/contestations by tier for chart data
  packages/eventindexer/chart.go
  packages/eventindexer/event.go
  packages/eventindexer/generator/generator.go
  packages/eventindexer/http/get_chart_by_task.go
  packages/eventindexer/indexer/save_transition_proved_event.go
  packages/eventindexer/migrations/20330906208839_alter_events_table_add_tier.sql
  packages/eventindexer/migrations/20330906208839_alter_time_series_data_table_add_tier.sql
  packages/eventindexer/repo/chart.go
  packages/eventindexer/repo/chart_test.go
  packages/eventindexer/repo/event.go
  packages/eventindexer/tasks/tasks.go
Due: none

lint
  packages/eventindexer/generator/generator.go
Due: none

liont
  packages/eventindexer/generator/generator.go
Due: none

.
  packages/eventindexer/migrations/20330906208840_alter_time_series_data_table_add_tier.sql
Due: none

.
  packages/eventindexer/repo/chart.go
Due: none

rmv fmt
  packages/eventindexer/repo/chart.go
Due: none

default
  packages/eventindexer/repo/chart.go
Due: none

Update action.yml
  .github/actions/install-pnpm-dependencies/action.yml
Due: repo

fix(repo): reinitialize go mod (#15457)
  go.mod
  go.sum
Due: none

Add the missing replacement
  go.mod
  go.sum
Due: none

mod tidy
  go.sum
Due: none

feat(eventindexer): Track transition proved / contested event by tiers, generate chart data for each tier, update http API to be able to fetch data by tier (#15458)
  packages/eventindexer/chart.go
  packages/eventindexer/event.go
  packages/eventindexer/generator/generator.go
  packages/eventindexer/http/get_chart_by_task.go
  packages/eventindexer/indexer/save_transition_proved_event.go
  packages/eventindexer/migrations/20330906208839_alter_events_table_add_tier.sql
  packages/eventindexer/migrations/20330906208840_alter_time_series_data_table_add_tier.sql
  packages/eventindexer/repo/chart.go
  packages/eventindexer/repo/chart_test.go
  packages/eventindexer/repo/event.go
  packages/eventindexer/tasks/tasks.go
Due: none

feat(repo): add the missing replacement (#15462)
  go.mod
  go.sum
Due: none

fix(protocol): fix some file names of the proxy upgrade scripts
  packages/protocol/script/upgrade/UpgradeAddressManager.s.sol
  packages/protocol/script/upgrade/UpgradeSignalService.s.sol
  packages/protocol/script/upgrade/UpgradeTaikoGovernor.s.sol
  packages/protocol/script/upgrade/UpgradeTaikoL1.s.sol
  packages/protocol/script/upgrade_to.sh
Due: none

fix text when no transactions are found
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
Due: bridge-ui-v2

fix(protocol): fix some file names of the proxy upgrade scripts (#15463)
  packages/protocol/script/upgrade/UpgradeAddressManager.s.sol
  packages/protocol/script/upgrade/UpgradeSignalService.s.sol
  packages/protocol/script/upgrade/UpgradeTaikoGovernor.s.sol
  packages/protocol/script/upgrade/UpgradeTaikoL1.s.sol
  packages/protocol/script/upgrade_to.sh
Due: none

add uptime, add additional status, refactor and cleanup
  packages/guardian-prover-health-check-ui/src/components/Alert/Alert.svelte
  packages/guardian-prover-health-check-ui/src/components/Blocks/BlocksList.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableHeader.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableRow.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/index.ts
  packages/guardian-prover-health-check-ui/src/components/Header/Header.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthCheckFilter.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthCheckRow.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthChecksList.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/index.ts
  packages/guardian-prover-health-check-ui/src/components/Overview/Filter.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/Overview.svelte
  packages/guardian-prover-health-check-ui/src/components/StatusBanner/StatusBanner.svelte
  packages/guardian-prover-health-check-ui/src/i18n/en.json
  packages/guardian-prover-health-check-ui/src/lib/api/guardianProverApiCalls.ts
  packages/guardian-prover-health-check-ui/src/lib/api/index.ts
  packages/guardian-prover-health-check-ui/src/lib/api/signedBlocksApiCalls.ts
  packages/guardian-prover-health-check-ui/src/lib/blocks/signedBlocksPerGuardian.ts
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProverRequests.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProverStats.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchLatestGuardianProverRequest.ts
  packages/guardian-prover-health-check-ui/src/lib/routes.ts
  packages/guardian-prover-health-check-ui/src/lib/types.ts
  packages/guardian-prover-health-check-ui/tailwind.config.js
Due: repo

cleanup
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableRow.svelte
  packages/guardian-prover-health-check-ui/src/components/StatusBanner/StatusBanner.svelte
  packages/guardian-prover-health-check-ui/src/i18n/en.json
  packages/guardian-prover-health-check-ui/src/lib/blocks/signedBlocksPerGuardian.ts
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
Due: repo

fix(bridge-ui-v2): minor fixes (#15454)
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/static/bg/grid-dark.svg
  packages/bridge-ui-v2/static/bg/grid-light.svg
  packages/bridge-ui-v2/static/bg/grid-sm.svg
  packages/bridge-ui-v2/static/bg/spotlights-dark.svg
  packages/bridge-ui-v2/static/bg/spotlights.svg
Due: bridge-ui-v2, repo

fix padding
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableHeader.svelte
Due: none

add bridgetabs to sidebar
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
Due: bridge-ui-v2

update daisyUI
  packages/bridge-ui-v2/package.json
  pnpm-lock.yaml
Due: repo

add mobile theme, fix sidebar
  packages/bridge-ui-v2/src/components/Bridge/BridgeTabs.svelte
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/components/ThemeButton/ThemeButton.svelte
Due: bridge-ui-v2

external links
  packages/bridge-ui-v2/src/components/LinkButton/LinkButton.svelte
Due: bridge-ui-v2

paddings and margins
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/Page/Page.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/components/Stepper/Stepper.svelte
Due: bridge-ui-v2

task fix
  packages/eventindexer/tasks/tasks.go
Due: none

add log
  packages/eventindexer/repo/chart.go
Due: none

custom reciept fetching
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui-v2/src/libs/storage/BridgeTxService.ts
  packages/bridge-ui-v2/src/libs/util/fetchTransactionReceipt.ts
Due: bridge-ui-v2

fix mobile transaction view for eth/erc20
  packages/bridge-ui-v2/src/app.config.ts
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/libs/chain/chains.ts
Due: bridge-ui-v2

read requirement from contract
  packages/guardian-prover-health-check-ui/src/components/StatusBanner/StatusBanner.svelte
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProverRequirementsFromContract.ts
Due: none

fix tier query
  packages/eventindexer/generator/generator.go
Due: none

fix
  packages/eventindexer/generator/generator.go
Due: none

save tier
  packages/eventindexer/indexer/save_transition_contested_event.go
Due: none

fix(eventindexer): Task duplicate name fix (#15467)
  packages/eventindexer/generator/generator.go
  packages/eventindexer/indexer/save_transition_contested_event.go
  packages/eventindexer/repo/chart.go
  packages/eventindexer/tasks/tasks.go
Due: none

alter migration and change unique key
  packages/eventindexer/.l1.env
  packages/eventindexer/migrations/20230906203931_create_time_series_data_table.sql
  packages/eventindexer/migrations/20330906208840_alter_time_series_data_table_add_tier.sql
  packages/eventindexer/tasks/tasks.go
Due: none

fix generator result log
  packages/eventindexer/.l1.env
  packages/eventindexer/generator/generator.go
Due: none

add tier to events
  packages/eventindexer/migrations/20240906208839_alter_events_table_add_tier_column.sql
Due: none

chore(guardian-prover-health-check-ui): add missing uptime and block count (#15464)
  packages/guardian-prover-health-check-ui/src/components/Alert/Alert.svelte
  packages/guardian-prover-health-check-ui/src/components/Blocks/BlocksList.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableHeader.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableRow.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/index.ts
  packages/guardian-prover-health-check-ui/src/components/Header/Header.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthCheckFilter.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthCheckRow.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthChecksList.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/index.ts
  packages/guardian-prover-health-check-ui/src/components/Overview/Filter.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/Overview.svelte
  packages/guardian-prover-health-check-ui/src/components/StatusBanner/StatusBanner.svelte
  packages/guardian-prover-health-check-ui/src/i18n/en.json
  packages/guardian-prover-health-check-ui/src/lib/api/guardianProverApiCalls.ts
  packages/guardian-prover-health-check-ui/src/lib/api/index.ts
  packages/guardian-prover-health-check-ui/src/lib/api/signedBlocksApiCalls.ts
  packages/guardian-prover-health-check-ui/src/lib/blocks/signedBlocksPerGuardian.ts
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProverRequests.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProverRequirementsFromContract.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProverStats.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchLatestGuardianProverRequest.ts
  packages/guardian-prover-health-check-ui/src/lib/routes.ts
  packages/guardian-prover-health-check-ui/src/lib/types.ts
  packages/guardian-prover-health-check-ui/tailwind.config.js
Due: repo

add uptime, add additional status, refactor and cleanup
  packages/guardian-prover-health-check-ui/src/i18n/en.json
Due: repo

update status
  packages/guardian-prover-health-check-ui/src/components/StatusBanner/StatusBanner.svelte
  packages/guardian-prover-health-check-ui/src/i18n/en.json
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
Due: repo

Path conditions:
  bridge-ui-v2: any of: packages/bridge-ui-v2/**.{js,ts,css,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo: any of: **.{json,md,yaml,yml}
