Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

feat: update some logs
  packages/taiko-client/pkg/state_indexer/indexer.go
  packages/taiko-client/prover/event_handler/shasta_proposed.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
Due: none

forge fmt & update contract layout tables
  packages/protocol/snapshots/shasta-propose.json
Due: repo

fix
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
Due: none

fix(protocol): fix TransitionMetadata bug and refactor hashing libs (#20250)
  packages/protocol/contracts/layer1/shasta/iface/ICodec.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/CodecOptimized.sol
  packages/protocol/contracts/layer1/shasta/impl/CodecSimple.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashSimple.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveInputDecoder.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/based/libs/CodecGasComparisonTest.t.sol
  packages/protocol/test/layer1/based/libs/LibHashingGasTest.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol
  packages/protocol/test/layer1/shasta/libs/AbstractCodecFuzzTest.t.sol
  packages/protocol/test/layer1/shasta/libs/AbstractCodecTest.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecOptimizedFuzzTest.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecOptimizedTest.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecSimpleFuzzTest.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecSimpleTest.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.t.sol
Due: repo

fix
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/snapshots/shasta-propose.json
Due: repo

feat(protocol): rename BondInstruction.receiver to BondInstruction.payee (#20248)
  packages/protocol/contracts/layer1/shasta/libs/LibBondsL1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/shared/shasta/libs/LibBonds.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/based/libs/LibBondsGasTest.t.sol
  packages/protocol/test/layer1/based/libs/LibHashingGasTest.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProvedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/libs/LibHashing.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibHashing.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.t.sol
Due: none

Update LibPackUnpack.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibPackUnpack.fuzz.t.sol
Due: none

feat(protocol): rename BondInstruction.receiver to BondInstruction.payee (#20254)
  packages/protocol/test/layer1/shasta/libs/LibPackUnpack.fuzz.t.sol
Due: none

fix(protocol): correct LibEIP1559.basefee argument order in TestLibEIP1559
  packages/protocol/test/layer2/based/libs/LibEIP1559.t.sol
Due: none

feat: changes based on protocol updates
  go.mod
  go.sum
  packages/protocol/script/layer1/devnet/UpgradeShastaL1.s.sol
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/shasta.go
  packages/taiko-client/bindings/encoding/shasta_test.go
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_shasta.go
  packages/taiko-client/bindings/shasta/.githead
  packages/taiko-client/bindings/shasta/gen_shasta_anchor.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox_helper.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/shasta.go
  packages/taiko-client/driver/chain_syncer/event/manifest/shasta.go
  packages/taiko-client/driver/chain_syncer/event/syncer.go
  packages/taiko-client/driver/state/state.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/batch_proposed_iterator.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/shasta_proved_iterator.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/state_indexer/indexer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/prover/event_handler/batches_proved.go
  packages/taiko-client/prover/event_handler/shasta_proposed.go
  packages/taiko-client/prover/event_handler/util.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
  packages/taiko-client/prover/prover.go
Due: none

feat: protocol updates
  packages/taiko-client/driver/chain_syncer/event/syncer.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/batch_proposed_iterator.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/shasta_proved_iterator.go
  packages/taiko-client/pkg/state_indexer/indexer.go
  packages/taiko-client/prover/event_handler/util.go
  packages/taiko-client/prover/prover.go
Due: none

feat: update inbox
  packages/protocol/contracts/layer1/shasta/impl/DevnetShastaInbox.sol
Due: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

rename
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1BlobOffset.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Consecutive.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1MultipleBlobs.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProve.t.sol
  packages/protocol/test/layer1/shasta/libs/AbstractCodec.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/AbstractCodec.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecOptimized.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecOptimized.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecSimple.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecSimple.t.sol
Due: none

fix
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1BlobOffset.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Consecutive.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1MultipleBlobs.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized2Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized1Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxProve.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecOptimized.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecOptimized.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecSimple.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecSimple.t.sol
Due: none

fix(protocol): correct LibEIP1559.basefee argument order in TestLibEIP1559 (#20255)
  packages/protocol/test/layer2/based/libs/LibEIP1559.t.sol
Due: none

fix: wallet connection de-sync
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ImportStep/TokenInput/TokenInput.svelte
  packages/bridge-ui/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/libs/wagmi/client.ts
  packages/bridge-ui/src/libs/wagmi/watcher.ts
Due: bridge-ui

feat: support hoodi config export
  packages/bridge-ui/scripts/exportJsonToEnv.js
Due: bridge-ui

fix: vercel deployment
  packages/bridge-ui/package.json
  packages/bridge-ui/svelte.config.js
  pnpm-lock.yaml
Due: bridge-ui, repo

update lockfile
  pnpm-lock.yaml
Due: repo

ci(repo): more codeowners to bridge-ui
  .github/CODEOWNERS
Due: none

feat(bridge-ui): replace Hekla testnet deployment with Hoodi testnet
  .github/workflows/bridge-ui.yml
Due: repo

chore: fix protocol build error in ci
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
Due: none

chore(protocol): remove unused BlockParams temp array in anchorBlockId parent tes
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
Due: none

lookaheadstore implements IProposerChecker
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/iface/IProposerChecker.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestSetup.sol
Due: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
Due: repo

Update LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
Due: none

link
  packages/docs-site/src/content/config.ts
Due: none

ci(repo): replace Hekla testnet deployment with Hoodi testnet (#20258)
  .github/workflows/bridge-ui.yml
Due: repo

chore(protocol): fix misleadind method name to match behavior (#20243)
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
Due: none

.
  packages/docs-site/src/content/config.ts
Due: none

docs(repo): use symbolic links for AGENTS.md files (#20251)
  AGENTS.md
  Agents.md
  packages/protocol/AGENTS.md
  packages/protocol/Agents.md
Due: repo

chore(protocol): remove unused BlockParams temp array in anchorBlockId parent test (#20259)
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
Due: none

fix remapping differently
  packages/protocol/contracts/layer1/automata-attestation/AutomataDcapV3Attestation.sol
  packages/protocol/contracts/layer1/automata-attestation/lib/PEMCertChainLib.sol
  packages/protocol/contracts/layer1/automata-attestation/lib/QuoteV3Auth/V3Parser.sol
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadSlasher.sol
  packages/protocol/contracts/layer1/preconf/libs/LibBlockHeader.sol
  packages/protocol/contracts/layer1/preconf/libs/LibEIP4788.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer2/based/libs/LibEIP1559.sol
  packages/protocol/foundry.toml
  packages/protocol/test/layer1/automata-attestation/AttestationBase.sol
  packages/protocol/test/layer1/automata-attestation/helpers/DcapTestUtils.sol
  packages/protocol/test/layer1/automata-attestation/helpers/V3QuoteParseUtils.sol
Due: none

datas -> data
  packages/protocol/contracts/layer1/shasta/iface/ICodec.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/CodecOptimized.sol
  packages/protocol/contracts/layer1/shasta/impl/CodecSimple.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashSimple.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveInputDecoder.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProve.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.t.sol
Due: none

feat: improve `onProposedEvent`
  packages/taiko-client/pkg/state_indexer/indexer.go
Due: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none
