Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui-v2, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui-v2:
      glob: "packages/bridge-ui-v2/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui-v2 svelte:check && pnpm -F bridge-ui-v2 lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

refactor(bridge-ui-v2): change inverted conditions (#15099)
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateEventIndexerConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
Due: bridge-ui-v2

refactor(bridge-ui-v2): remove redundant conditions (#15098)
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
Due: bridge-ui-v2

refactor(bridge-ui-v2): add a constant IPFS PREFIX to make the code m… (#15096)
  packages/bridge-ui-v2/src/libs/util/safeParseUrl.ts
Due: bridge-ui-v2

remove issue in SlotB
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Due: none

review change
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
Due: bridge-ui-v2

fix conflict
  packages/bridge-ui-v2/src/libs/util/safeParseUrl.ts
Due: bridge-ui-v2

linting
  packages/bridge-ui-v2/src/libs/util/safeParseUrl.ts
Due: bridge-ui-v2

fix(protocol): remove duplicate field in SlotB (#15108)
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Due: none

refactor(bridge-ui-v2): Create a function to check a condition.
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ConfirmationStep.svelte
Due: bridge-ui-v2

fix(protocol): fix an issue in `DeployOnL1` script
  packages/protocol/script/DeployOnL1.s.sol
Due: none

feat: more updates
  packages/protocol/genesis/test_config.js
  packages/protocol/utils/generate_genesis/taikoL2.ts
Due: none

Add return value to addInstances function
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
Due: none

remove LibDeploy and fix tests
  packages/protocol/contracts/libs/LibDeploy.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/test/TestBase.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Due: none

remove LibDeploy from tiakoL2
  packages/protocol/utils/generate_genesis/taikoL2.ts
Due: none

add L1 bridged logic deployments
  packages/protocol/script/DeployOnL1.s.sol
Due: none

brecht comments
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
Due: none

move length check first place
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
Due: none

fix(protocol): fix an issue in `DeployOnL1` script (#15110)
  packages/protocol/genesis/test_config.js
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/utils/generate_genesis/taikoL2.ts
Due: none

exclude idx0 if sgx addition
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
Due: none

sgx gas opt
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
Due: none

remove create2
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/TestBase.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Due: none

fix(protocol): Deploy without create2 (#15112)
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/TestBase.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Due: none

make btoken address determinstic
  packages/protocol/contracts/libs/LibDeploy.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/script/DeployOnL1.s.sol
Due: none

Update LibDeploy.sol
  packages/protocol/contracts/libs/LibDeploy.sol
Due: none

feat: update deployment script
  packages/protocol/script/DeployOnL1.s.sol
Due: none

separate newAddress from newly added address array
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/test/L1/SgxVerifier.t.sol
Due: none

brecht pr comments
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
Due: none

feat: update gensis generation scripts
  packages/protocol/utils/generate_genesis/taikoL2.ts
Due: none

a6 bindings update again
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/contracts/bridge/Bridge.go
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/eventindexer/indexer/set_initial_processing_block_height.go
  packages/relayer/ERC1155Vault.json
  packages/relayer/ERC20Vault.json
  packages/relayer/ERC721Vault.json
  packages/relayer/SignalService.json
  packages/relayer/TaikoL1.json
  packages/relayer/bindings/bridge/Bridge.go
  packages/relayer/bindings/erc1155vault/ERC1155Vault.go
  packages/relayer/bindings/erc20vault/ERC20Vault.go
  packages/relayer/bindings/erc721vault/ERC721Vault.go
  packages/relayer/bindings/signalservice/SignalService.go
  packages/relayer/bindings/taikol1/TaikoL1.go
  packages/relayer/bindings/taikol2/TaikoL2.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/indexer/set_initial_processing_block_by_mode.go
  packages/relayer/mock/bridge.go
  packages/relayer/mock/signalservice.go
  packages/relayer/processor/estimate_gas.go
  packages/relayer/processor/is_profitable_test.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/process_message_test.go
  packages/relayer/proof/encoded_signal_proof.go
  packages/relayer/signalservice.go
Due: repo

update decode message sent
  packages/relayer/types.go
  packages/relayer/types_test.go
Due: none

.
  packages/relayer/processor/process_message.go
Due: none

incorrect hops check
  packages/relayer/processor/process_message.go
Due: none

feat(relayer): A6 bindings (#15114)
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/contracts/bridge/Bridge.go
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/eventindexer/indexer/set_initial_processing_block_height.go
  packages/relayer/ERC1155Vault.json
  packages/relayer/ERC20Vault.json
  packages/relayer/ERC721Vault.json
  packages/relayer/SignalService.json
  packages/relayer/TaikoL1.json
  packages/relayer/bindings/bridge/Bridge.go
  packages/relayer/bindings/erc1155vault/ERC1155Vault.go
  packages/relayer/bindings/erc20vault/ERC20Vault.go
  packages/relayer/bindings/erc721vault/ERC721Vault.go
  packages/relayer/bindings/signalservice/SignalService.go
  packages/relayer/bindings/taikol1/TaikoL1.go
  packages/relayer/bindings/taikol2/TaikoL2.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/indexer/set_initial_processing_block_by_mode.go
  packages/relayer/mock/bridge.go
  packages/relayer/mock/signalservice.go
  packages/relayer/processor/estimate_gas.go
  packages/relayer/processor/is_profitable_test.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/process_message_test.go
  packages/relayer/proof/encoded_signal_proof.go
  packages/relayer/signalservice.go
  packages/relayer/types.go
  packages/relayer/types_test.go
Due: repo

rename
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
Due: none

feat(protocol): Return value to sgx addition (#15111)
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/test/L1/SgxVerifier.t.sol
Due: none

Update LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
Due: none

fix
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
Due: none

Update .eslintrc.js
  packages/protocol/.eslintrc.js
Due: none
