Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui-v2, protocol_sol, protocol_ts, repo

bridge-ui-v2:
  run: pnpm -F bridge-ui-v2 svelte:check && pnpm -F bridge-ui-v2 lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint:fix && git add {staged_files}

repo:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

core(bridge-ui-v2): update getSignalSlot and getLatestBlock in Prover.ts
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
Due: bridge-ui-v2

add PR requirements
  CONTRIBUTING.md
Due: repo

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: repo

Use TaikoL2 as the treasury address.
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/L2/TaikoL2.t.sol
Due: none

Update TaikoL1.sol
  packages/protocol/contracts/L1/TaikoL1.sol
Due: none

chore(repo): update contribution guidelines (#15349)
  CONTRIBUTING.md
Due: repo

Update TaikoL2.sol
  packages/protocol/contracts/L2/TaikoL2.sol
Due: none

Update release-please-config.json
  release-please-config.json
Due: repo

typo fix
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
Due: bridge-ui-v2

typo fix
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateEventIndexerConfig.ts
Due: bridge-ui-v2

typo fix
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
Due: bridge-ui-v2

fix typos ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
Due: bridge-ui-v2

fix typos Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/Bridge.ts
Due: bridge-ui-v2

fix typos isSupportedNFTInterface.ts
  packages/bridge-ui-v2/src/libs/bridge/isSupportedNFTInterface.ts
Due: bridge-ui-v2

fix typos messageStatusPoller.ts
  packages/bridge-ui-v2/src/libs/bridge/messageStatusPoller.ts
Due: bridge-ui-v2

fix typos Prover.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
Due: bridge-ui-v2

fin typos getCrossChainAddress.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
Due: bridge-ui-v2

refactor(bridged-ui-v2): create variable for conditions
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
Due: bridge-ui-v2

lockfile
  pnpm-lock.yaml
Due: repo

exit gracefully after start finishes
  packages/eventindexer/generator/generator.go
Due: none

fix(eventindexer): exit gracefully after start finishes (#15354)
  packages/eventindexer/generator/generator.go
Due: none

feat(protocol): grant `securityCouncil` the `PROPOSER` role
  packages/protocol/script/DeployOnL1.s.sol
Due: none

chore: update lock
  pnpm-lock.yaml
Due: repo

feat(protocol): grant `securityCouncil` the `PROPOSER` role (#15355)
  packages/protocol/script/DeployOnL1.s.sol
  pnpm-lock.yaml
Due: repo

Debug
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
Due: bridge-ui-v2

Update
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
  packages/bridge-ui-v2/src/libs/chain/types.ts
Due: bridge-ui-v2

Debug
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
Due: bridge-ui-v2

Update
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
Due: bridge-ui-v2

feat(protocol): Use taikoL2's address as the treasury address in circuits (#15350)
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/L2/TaikoL2.t.sol
Due: none

more
  packages/protocol/contracts/L2/CrossChainOwned.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/L2/TaikoL2.t.sol
Due: none

Add testcase for sgx signature proof creation validation
  packages/protocol/test/L1/SgxVerifier.t.sol
Due: none

more expl
  packages/protocol/test/L1/SgxVerifier.t.sol
Due: none

more
  packages/protocol/test/L1/Guardians.t.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/common/EssentialContract.t.sol
  packages/protocol/test/signal/SignalService.t.sol
  packages/protocol/test/team/TimelockTokenPool.t.sol
  packages/protocol/test/team/airdrop/MerkleClaimable.t.sol
  packages/protocol/test/tokenvault/BridgedERC20.t.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Due: none

fix
  packages/protocol/contracts/L2/TaikoL2EIP1559Configurable.sol
  packages/protocol/test/L2/TaikoL2.t.sol
Due: none

Path conditions:
  bridge-ui-v2: any of: packages/bridge-ui-v2/**.{js,ts,css,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo: any of: **.{json,md,yaml,yml}
