Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxBase.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized1Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized2Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized3Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/BlobTestUtils.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/PreconfWhitelistSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/mocks/MockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized2Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized3Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized1Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized3Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxProve.t.sol
Due: repo

check activeness
  packages/ejector/crates/bindings/src/lib.rs
  packages/ejector/crates/utils/src/eject.rs
Due: none

build
  .github/workflows/ejector--docker.yml
Due: repo

Comment
  packages/ejector/crates/utils/src/eject.rs
Due: none

move op count call
  packages/ejector/crates/utils/src/eject.rs
Due: none

lint
  packages/ejector/crates/utils/src/eject.rs
Due: none

log
  packages/ejector/crates/utils/src/eject.rs
Due: none

improve claude.md structure
  CLAUDE.md
  packages/protocol/CLAUDE.md
Due: repo

fill transitions buffer before running the tests
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxBase.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized1Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized2Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized3Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized3.sol
Due: repo

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized3.sol
Due: repo

test(protocol): a proposed structure for tests in shasta (#20007)
  .claude/settings.local.json
  CLAUDE.md
  packages/protocol/CLAUDE.md
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxBase.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized1Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized2Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized3Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/BlobTestUtils.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/PreconfWhitelistSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/mocks/MockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized2Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized3Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized1Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized3Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxProve.t.sol
Due: repo

Update .github/workflows/ejector--docker.yml
  .github/workflows/ejector--docker.yml
Due: repo

fix
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxBase.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized1Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized2Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized3Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/mocks/MockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized2Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized3Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized1Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized3Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxProve.t.sol
Due: none

Update MockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/mocks/MockContracts.sol
Due: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
Due: none

chore(bridge-ui): add comprehensive logging to CustomTokenService (#19998)
  packages/bridge-ui/src/libs/storage/CustomTokenService.ts
Due: bridge-ui

chore(main): release eventindexer 0.14.0
  .release-please-manifest.json
  packages/eventindexer/CHANGELOG.md
  packages/eventindexer/package.json
Due: repo

chore(main): release taiko-alethia-protocol 2.4.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Due: repo

chore(main): release docs-site 1.30.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Due: repo

chore(main): release bridge-ui 2.15.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Due: repo

chore(relayer): wrap existing error instead of creating new one in setLatestNonce (#19906)
  packages/relayer/bridge/bridge.go
Due: none

chore(main): release relayer 0.12.1
  .release-please-manifest.json
  packages/relayer/CHANGELOG.md
  packages/relayer/package.json
Due: repo

optimize logging
  .github/workflows/taiko-client--docker.yml
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Due: repo

Update .github/workflows/taiko-client--docker.yml
  .github/workflows/taiko-client--docker.yml
Due: repo

feat(taiko-client): fallback to sgx proof (#19967)
  .claude/settings.local.json
  packages/taiko-client/driver/preconf_blocks/util.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
Due: repo

chore(main): release taiko-alethia-client 1.11.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Due: repo

refactor(taiko-client): use built-in min/max to simplify boundary checks
  packages/taiko-client/pkg/chain_iterator/block_batch_iterator.go
Due: none

fix(proposer): use unique log key for block ID in fallback check
  packages/taiko-client/proposer/proposer.go
Due: none

refactor(relayer): replace []byte(fmt.Sprintf) with fmt.Appendf
  packages/relayer/pkg/mock/caller.go
  packages/relayer/pkg/proof/types.go
  packages/relayer/pkg/repo/event_test.go
Due: none

temp
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/manifest/manifest.go
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_shasta.go
  packages/taiko-client/driver/chain_syncer/event/syncer.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/manifest_decompressor/manifest_decompressor.go
  packages/taiko-client/driver/state/l1_current.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor.go
  packages/taiko-client/driver/txlist_fetcher/blob.go
  packages/taiko-client/driver/txlist_fetcher/calldata.go
  packages/taiko-client/driver/txlist_fetcher/interface.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/batch_proposed_iterator.go
  packages/taiko-client/pkg/config/chain_config.go
  packages/taiko-client/pkg/error.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/subscription.go
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/prover/event_handler/util.go
  packages/taiko-client/prover/prover.go
Due: none

change handoverslots to 8
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
Due: none

build test image
  .github/workflows/taiko-client--docker.yml
Due: repo

rm build
  .github/workflows/taiko-client--docker.yml
Due: repo

fix layout by introducing a new version of the EssentialContract
  packages/protocol/contracts/layer1/shasta/base/ShastaEssentialContract.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaForcedInclusionStore.sol
  packages/protocol/layout/layer1-contracts.txt
Due: none

chore(repo): use updated action, fix token usage
  .github/workflows/claude-code-review.yml
  .github/workflows/repo--claude.yml
Due: repo

chore
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
Due: none

fix(repo): revert claude auto review changes, dont run on forks
  .github/workflows/claude-code-review.yml
Due: repo

.
  .github/workflows/claude-code-review.yml
Due: repo
