Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui-v2, protocol_sol, protocol_ts, repo

bridge-ui-v2:
  run: pnpm -F bridge-ui-v2 svelte:check && pnpm -F bridge-ui-v2 lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint:fix && git add {staged_files}

repo:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

refactor(protocol): format test code and fix license (#15682)
  packages/protocol/test/L1/gov/TaikoGovernor.t.sol
  packages/protocol/test/L2/LibL2Signer.sol
  packages/protocol/test/automata-attestation/AutomataDcapV3AttestationTest.t.sol
  packages/protocol/test/automata-attestation/common/AttestationBase.t.sol
  packages/protocol/test/automata-attestation/utils/DcapTestUtils.t.sol
  packages/protocol/test/automata-attestation/utils/V3QuoteParseUtils.t.sol
  packages/protocol/test/common/AddressManager.t.sol
  packages/protocol/test/common/AddressResolver.t.sol
  packages/protocol/test/common/AuthorizableContract.t.sol
  packages/protocol/test/common/erc20/FreeMintERC20.sol
  packages/protocol/test/common/erc20/MayFailFreeMintERC20.sol
  packages/protocol/test/libs/LibFixedPointMath.t.sol
  packages/protocol/test/mocks/MockPlonkVerifier.sol
  packages/protocol/test/thirdparty/LibFixedPointMath.t.sol
  packages/protocol/test/thirdparty/optimisim/Bytes.t.sol
  packages/protocol/test/thirdparty/optimisim/rlp/RLPReader.t.sol
  packages/protocol/test/thirdparty/optimisim/trie/SecureMerkleTrie.t.sol
  packages/protocol/test/verifiers/GuardianVerifier.t.sol
  packages/protocol/test/verifiers/PseZkVerifier.t.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
Due: none

more
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/protocol/test/signal/SignalService.t.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Due: none

Delete AuthorizableContract.t.sol
  packages/protocol/test/common/AuthorizableContract.t.sol
Due: none

add old code to comparison
  packages/protocol/test/signal/AccountProofVerification_old/LibTrieProof_old.sol
  packages/protocol/test/signal/SignalService.t.sol
  packages/protocol/test/signal/thirdparty/LibBytesUtils_old.sol
  packages/protocol/test/signal/thirdparty/LibMerkleTrie_old.sol
  packages/protocol/test/signal/thirdparty/LibRLPReader_old.sol
  packages/protocol/test/signal/thirdparty/LibRLPWriter_old.sol
  packages/protocol/test/signal/thirdparty/LibSecureMerkleTrie_old.sol
Due: none

update token info for 1155
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.ts
Due: bridge-ui-v2

more
  packages/protocol/docs/how_taiko_proves_blocks.md
  packages/protocol/test/verifiers/GuardianVerifier.t.sol
  packages/protocol/test/verifiers/PseZkVerifier.t.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
Due: repo

fix tests
  packages/protocol/docs/how_taiko_proves_blocks.md
  packages/protocol/test/verifiers/GuardianVerifier.t.sol
  packages/protocol/test/verifiers/PseZkVerifier.t.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
Due: repo

fix tests
  packages/protocol/test/verifiers/GuardianVerifier.t.sol
  packages/protocol/test/verifiers/PseZkVerifier.t.sol
Due: none

Update TaikoData.sol
  packages/protocol/contracts/L1/TaikoData.sol
Due: none

rename
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/signal/HopRelayRegistry.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/signal/SignalService.t.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
  packages/protocol/test/verifiers/GuardianVerifier.t.sol
Due: none

Update SignalService.t.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

add tets for recall
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
Due: none

more
  packages/protocol/contracts/signal/HopRelayRegistry.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/HelperContracts.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

more
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

Fix account Merkle proof check
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/test/signal/SignalService.t.sol
Due: none

chore(protocol): dummy
  packages/protocol/README.md
Due: repo

chore(protocol): dummy
  .github/workflows/protocol.yml
  packages/protocol/README.md
Due: repo

chore(bridge-ui-v2): blah blahblah
  packages/bridge-ui-v2/README.md
Due: repo

chore(protocol): doubly checky
  packages/protocol/contracts/L1/TaikoL1.sol
Due: none

remove debug prints and rearrange tests
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/thirdparty/optimism/rlp/RLPReader.sol
  packages/protocol/contracts/thirdparty/optimism/trie/MerkleTrie.sol
  packages/protocol/contracts/thirdparty/optimism/trie/SecureMerkleTrie.sol
  packages/protocol/test/libs/LibTrieProof.t.sol
  packages/protocol/test/signal/AccountProofVerification_old/LibTrieProof_old.sol
  packages/protocol/test/signal/SignalService.t.sol
  packages/protocol/test/signal/thirdparty/LibBytesUtils_old.sol
  packages/protocol/test/signal/thirdparty/LibMerkleTrie_old.sol
  packages/protocol/test/signal/thirdparty/LibRLPReader_old.sol
  packages/protocol/test/signal/thirdparty/LibRLPWriter_old.sol
  packages/protocol/test/signal/thirdparty/LibSecureMerkleTrie_old.sol
Due: none

chore(bridge-ui-v2): doubly checky
  packages/bridge-ui-v2/README.md
Due: repo

chore(protocol): doubly checky
  packages/protocol/README.md
Due: repo

Always use SignalService from src chain as app addr
  packages/protocol/contracts/signal/SignalService.sol
Due: none

remove comment
  packages/protocol/contracts/libs/LibTrieProof.sol
Due: none

Remove RLPWriter and some test comments
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/thirdparty/optimism/rlp/RLPWriter.sol
  packages/protocol/contracts/thirdparty/optimism/trie/MerkleTrie.sol
Due: none

fix(relayer): Fix - retroactively fixing old relayer messages or claiming
  packages/relayer/indexer/handle_event.go
Due: none

bump taiko geth
  go.mod
  go.sum
Due: none

add log
  packages/relayer/pkg/proof/block_header.go
Due: none

latest taiko-geth
  go.mod
Due: none

queue fix
  packages/relayer/processor/processor.go
Due: none

fix
  packages/relayer/processor/processor.go
Due: none

go mod tidy
  go.sum
Due: none

lints
  packages/relayer/indexer/indexer.go
  packages/relayer/indexer/subscribe.go
  packages/relayer/pkg/mock/bridge.go
  packages/relayer/pkg/repo/event_test.go
  packages/relayer/processor/process_message.go
  packages/relayer/types_test.go
Due: none

lints
  packages/relayer/pkg/repo/event_test.go
  packages/relayer/processor/process_message.go
Due: none

add transaction suspended metrics
  packages/relayer/prometheus.go
  packages/relayer/watchdog/watchdog.go
Due: none

chore(relayer): Bump taiko geth, several fixes, linter updates (#15692)
  go.mod
  go.sum
  packages/relayer/indexer/indexer.go
  packages/relayer/indexer/subscribe.go
  packages/relayer/pkg/mock/bridge.go
  packages/relayer/pkg/proof/block_header.go
  packages/relayer/pkg/repo/event_test.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/processor.go
  packages/relayer/types_test.go
Due: none

chore(repo): temporarily remove build badges
  README.md
Due: repo

Path conditions:
  bridge-ui-v2: any of: packages/bridge-ui-v2/**.{js,ts,css,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo: any of: **.{json,md,yaml,yml}
