Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

bridge-ui:
  run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}

protocol_sol:
  run: pnpm -F protocol lint:sol && git add {staged_files}

protocol_ts:
  run: pnpm -F protocol eslint && git add {staged_files}

repo:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

forced inclusions section
  packages/protocol/docs/Derivation.md
Due: repo

chore(protocol): remove unused LibMath using in TaikoWrapper (#20321)
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
Due: none

chore(protocol): revert RESOLVER_NOT_FOUND when resolver is zero (#20300)
  packages/protocol/contracts/shared/common/EssentialResolverContract.sol
Due: none

Update protocol generated artifacts
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/gas-reports/LibProposeInputDecoder.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
Due: repo

docs(protocol): add comment explaining checkpoint rate limiting logic
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

docs(protocol): document minCheckpointDelay impact on finalization and sync
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

Update protocol generated artifacts
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

Fix typos across multiple files
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/ProcessingFee.svelte
  packages/relayer/bridge/bridge.go
  packages/relayer/bridge/config.go
  packages/relayer/cmd/flags/common.go
  packages/relayer/indexer/config.go
  packages/relayer/processor/config.go
  packages/relayer/processor/config_test.go
  packages/relayer/processor/processor.go
  packages/relayer/watchdog/config.go
  packages/relayer/watchdog/config_test.go
  packages/relayer/watchdog/watchdog.go
  packages/ui-lib/src/stories/ResponsiveController/ResponsiveController.stories.ts
Due: bridge-ui

Update packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

chore(protocol): clean up Hekla files (#20312)
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/hekla/HeklaTaikoToken.sol
  packages/protocol/contracts/layer1/hekla/LibWriteTransition.sol
  packages/protocol/contracts/layer1/hekla/verifiers/HeklaVerifier.sol
  packages/protocol/contracts/layer2/hekla/DelegateOwner.sol
  packages/protocol/contracts/shared/governance/Controller.sol
  packages/protocol/contracts/shared/token/TaikoTokenBase.sol
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/deployments/mainnet-contract-logs-L2.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/UpdatePacayaL2.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHeklaPacayaL2.s.sol
  packages/protocol/script/layer2/hekla/DeployDelegateOwner.s.sol
  packages/protocol/test/layer2/Layer2Test.sol
  packages/protocol/test/layer2/hekla/DelegateOwner.t.sol
Due: repo

refactor(protocol): remove redundant checkRecallMessageContext check
  packages/protocol/contracts/shared/tokenvault/BaseVault.sol
  packages/protocol/contracts/shared/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC721Vault.sol
Due: none

fix: correct typos across relayer, bridge-ui, and ui-lib
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/ProcessingFee.svelte
  packages/relayer/bridge/bridge.go
  packages/relayer/bridge/config.go
  packages/relayer/cmd/flags/common.go
  packages/relayer/indexer/config.go
  packages/relayer/processor/config.go
  packages/relayer/processor/config_test.go
  packages/relayer/processor/processor.go
  packages/relayer/watchdog/config.go
  packages/relayer/watchdog/config_test.go
  packages/relayer/watchdog/watchdog.go
  packages/ui-lib/src/stories/ResponsiveController/ResponsiveController.stories.ts
Due: bridge-ui

Apply suggestion from @ggonzalez94
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

refactor: deduplicate logic by calling _isOldestInclusionDue in isOldestForcedInclusionDue
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
  packages/protocol/snapshots/shasta-propose.json
Due: repo

Apply suggestion from @ggonzalez94
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
Due: none

refactor: inline _validateForcedInclusionRequirements for gas efficiency
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
  packages/protocol/snapshots/shasta-propose.json
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/shared/tokenvault/BaseVault.sol
  packages/protocol/contracts/shared/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC721Vault.sol
Due: none

refactor: simplify forced inclusion validation logic
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
  packages/protocol/snapshots/shasta-propose.json
Due: repo

docs: clarify validation comment - proposer included minimum
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
Due: none

fix
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
  packages/protocol/snapshots/shasta-propose.json
Due: repo

Update protocol generated artifacts
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

refactor: consolidate forced inclusion logic in Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractPropose.t.sol
Due: repo

fix
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

fix
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
Due: none

refactor: consolidate forced inclusion logic in Inbox.sol (#20326)
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractPropose.t.sol
Due: repo

fix
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractPropose.t.sol
Due: none

fix
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaDevnetInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaMainnetInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashSimple.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Due: none

refactor(protocol): change compositeKeyVersion to uint16
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaDevnetInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaMainnetInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashSimple.sol
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
Due: repo

refactor(protocol): rename hasConflictingTransition to conflictingTransitionDetected
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/snapshots/shasta-propose.json
Due: repo

refactor(protocol): rename ConflictingTransitionRecordProved to ConflictingTransitionDetected
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

Update protocol generated artifacts
  packages/protocol/contracts/layer1/shasta/libs/LibHashOptimized.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Due: none

fix(relayer): improve MySQL container test reliability
  packages/relayer/pkg/repo/containers_test.go
Due: none

chore(protocol): fix function state mutability warnings in AbstractPropose test
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractPropose.t.sol
Due: none

fix
  packages/protocol/contracts/shared/shasta/libs/LibCheckpointStore.sol
Due: none

fix
  packages/protocol/contracts/shared/shasta/iface/ICheckpointStore.sol
  packages/protocol/contracts/shared/shasta/libs/LibCheckpointStore.sol
  packages/protocol/snapshots/shasta-propose.json
Due: repo

Path conditions:
  bridge-ui: any of: packages/bridge-ui/**.{js,ts,css,svelte}
  protocol_sol: any of: packages/protocol/**.{sol}
  protocol_ts: any of: packages/protocol/**.{ts}
  repo: any of: **.{json,md,yaml,yml}
