Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

fix(protocol): fix bug with storage layout reuse (#19990)
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxBasicTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxProveBasic.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoderFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoderFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.t.sol
Due: none

chore(repo): switch to issue_comment, gh to retrieve fork
  .github/workflows/repo--claude.yml
Due: repo

fix(repo): switch to issue_comment, gh to retrieve fork for claude comment
  .github/workflows/repo--claude.yml
Due: repo

fix: remove premature WriteHeader from CORS middleware
  packages/geth-rpc-gateway/main.go
Due: none

fix(repo): switch to issue_comment, gh to retrieve fork for claude comment (#19993)
  .github/workflows/repo--claude.yml
Due: repo

Update Derivation.md
  packages/protocol/docs/Derivation.md
Due: repo

Update MainnetShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
Due: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

Update economics.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/economics.md
Due: repo

Update bridging.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/bridging.md
Due: repo

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

Update packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

fix last claim reference
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

docs(protocol): improve Shasta design doc (#19995)
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
  packages/protocol/docs/Derivation.md
Due: repo

fix(protocol): fix Shasta bug in reproving the same transition with different bond instructions (#19996)
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

remove BLOCK_MAX_TRANSACTIONS and a TODO
  packages/protocol/contracts/layer1/shasta/libs/LibManifest.sol
  packages/protocol/docs/Derivation.md
Due: repo

refactor tests
  packages/protocol/test/layer1/shasta/inbox/suite2/InboxTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/InboxTestBase.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxTestBase.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/Inbox.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/InboxCore.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/InboxOptimized2.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/InboxOptimized3.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/SimpleInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/mocks/MockContracts.sol
Due: none

use actual inbox
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxTestBase.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/Inbox.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/InboxOptimized1.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/InboxOptimized2.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/InboxOptimized3.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/SimpleInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
Due: none

fix build
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/shared-contracts.txt
  packages/protocol/script/gen-layouts.sh
Due: none

Update CustomTokenService.ts
  packages/bridge-ui/src/libs/storage/CustomTokenService.ts
Due: bridge-ui

snapshot
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxTestBase.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/mocks/MockContracts.sol
Due: repo

fix forced inclusions and allow proposer to process before they are due
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTestAdapter.sol
Due: none

send fee only once
  packages/protocol/contracts/layer1/shasta/iface/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTest.sol
Due: none

fmt
  packages/protocol/contracts/layer1/shasta/iface/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibManifest.sol
Due: none

fix _processForcedInclusions
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

fmt
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

refac: update bridge ui docker build workflow to test (#186)
  .github/workflows/bridge-ui--docker-build.yml
  .github/workflows/relayer--docker-build.yml
  .github/workflows/taiko-client--docker-build.yml
  .github/workflows/taiko-protocol--docker-build.yml
Due: repo

gen abi bindings
  packages/taiko-client/bindings/shasta/.githead
  packages/taiko-client/bindings/shasta/gen_lib_manifest.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox.go
  packages/taiko-client/scripts/gen_bindings.sh
Due: none

feat(taiko-client): make the `beaconSyncer.getBlockPayload()` more compliant with the spec (#19860)
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/bindings/encoding/struct_test.go
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
Due: none

chore(main): release bridge-ui 2.15.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Due: repo

chore(main): release eventindexer 0.14.0
  .release-please-manifest.json
  packages/eventindexer/CHANGELOG.md
  packages/eventindexer/package.json
Due: repo

chore(main): release docs-site 1.30.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Due: repo
