Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui-v2, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui-v2:
      glob: "packages/bridge-ui-v2/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui-v2 svelte:check && pnpm -F bridge-ui-v2 lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

feat(protocol): remove `hardhat` dependency
  pnpm-lock.yaml
Due: repo

feat(protocol): remove `hardhat` dependency
  packages/protocol/package.json
Due: repo

feat(protocol): remove `hardhat` dependency
  packages/protocol/package.json
  packages/protocol/tsconfig.json
  packages/protocol/utils/generate_genesis/erc20.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
  packages/protocol/utils/generate_genesis/utils.ts
  pnpm-lock.yaml
Due: repo

feat: update config
  packages/protocol/package.json
  packages/protocol/utils/generate_genesis/taikoL2.ts
Due: repo

feat: update config
  .github/workflows/protocol.yml
Due: repo

feat(protocol): remove `hardhat` dependency (#15442)
  .github/workflows/protocol.yml
  packages/protocol/.npmignore
  packages/protocol/README.md
  packages/protocol/hardhat.config.ts
  packages/protocol/package.json
  packages/protocol/remappings.txt
  packages/protocol/tsconfig.json
  packages/protocol/utils/generate_genesis/erc20.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
  packages/protocol/utils/generate_genesis/utils.ts
  pnpm-lock.yaml
Due: repo

fix(bridge-ui-v2): Ensure Modal Close Button Triggers Cancellation Logic (#15424)
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
Due: bridge-ui-v2

feat(bridge-ui-v2): Sort Transactions by Latest First in Bridge UI (#15429)
  packages/bridge-ui-v2/src/libs/bridge/fetchTransactions.ts
Due: bridge-ui-v2

fix(bridge-ui-v2): ETHBridge Handling for Different Destination Addresses (#15426)
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
Due: bridge-ui-v2

change timeout to 200
  packages/bridge-ui-v2/src/components/Tooltip/Tooltip.svelte
Due: bridge-ui-v2

update readme
  packages/bridge-ui-v2/README.md
Due: repo

improve tooltip ux
  packages/bridge-ui-v2/src/components/Tooltip/Tooltip.svelte
Due: bridge-ui-v2

chore(bridge-ui-v2): Improve tooltip ux (new PR) (#15449)
  packages/bridge-ui-v2/README.md
  packages/bridge-ui-v2/src/components/Tooltip/Tooltip.svelte
Due: bridge-ui-v2, repo

chore(bridge-ui-v2): cherry picks from main (#15448)
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/fetchTransactions.ts
Due: bridge-ui-v2

modal and warning about L1 speed
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/components/WelcomeModal/WelcomeModal.svelte
  packages/bridge-ui-v2/src/components/WelcomeModal/index.ts
  packages/bridge-ui-v2/src/routes/+layout.svelte
Due: bridge-ui-v2

feat(bridge-ui-v2): light mode enhancements
  packages/bridge-ui-v2/src/components/Card/Card.svelte
  packages/bridge-ui-v2/src/components/Stepper/Step.svelte
  packages/bridge-ui-v2/src/components/Stepper/Stepper.svelte
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/src/styles/utilities.css
  packages/bridge-ui-v2/static/bg/grid-sm.svg
  packages/bridge-ui-v2/static/bg/spotlights-light.svg
  packages/bridge-ui-v2/tailwind.config.js
Due: bridge-ui-v2

add i18n text
  packages/bridge-ui-v2/src/i18n/en.json
Due: repo

update styling and text
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/src/app.html
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/components/WelcomeModal/WelcomeModal.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/styles/components.css
Due: bridge-ui-v2, repo

cleanup
  packages/bridge-ui-v2/src/components/WelcomeModal/WelcomeModal.svelte
Due: bridge-ui-v2

upgrade scripts for new proxies
  packages/protocol/script/upgrade/UpgradeAddressManager.sol
  packages/protocol/script/upgrade/UpgradeAssignmentHook.s.sol
  packages/protocol/script/upgrade/UpgradeBridge.s.sol
  packages/protocol/script/upgrade/UpgradeERC1155Vault.s.sol
  packages/protocol/script/upgrade/UpgradeERC20Vault.s.sol
  packages/protocol/script/upgrade/UpgradeERC721Vault.s.sol
  packages/protocol/script/upgrade/UpgradeGuardianProver.s.sol
  packages/protocol/script/upgrade/UpgradeScript.s.sol
  packages/protocol/script/upgrade/UpgradeSignalService.sol
  packages/protocol/script/upgrade/UpgradeTaikoGovernor.sol
  packages/protocol/script/upgrade/UpgradeTaikoL1.sol
  packages/protocol/script/upgrade/UpgradeTimelockController.s.sol
  packages/protocol/script/upgrade_to.sh
Due: none

w3modal colors
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/tailwind.config.js
Due: bridge-ui-v2

update walletconnect, update conenct button styles
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui-v2/src/components/ThemeButton/ThemeButton.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/libs/wagmi/client.ts
  pnpm-lock.yaml
Due: bridge-ui-v2, repo

Update packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/i18n/en.json
Due: repo

chore(bridge-ui-v2): Modal and alerts to inform users about delay for L2->L1 bridging (#15450)
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/src/app.html
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/components/WelcomeModal/WelcomeModal.svelte
  packages/bridge-ui-v2/src/components/WelcomeModal/index.ts
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/routes/+layout.svelte
  packages/bridge-ui-v2/src/styles/components.css
Due: bridge-ui-v2, repo

fix(bridge-ui-v2): Fixes for Configuration Setup and README Updates in Bridge UI v2 (#15419)
  packages/bridge-ui-v2/README.md
Due: repo

feat(protocol): upgrade scripts for new proxies (#15452)
  packages/protocol/script/upgrade/UpgradeAddressManager.sol
  packages/protocol/script/upgrade/UpgradeAssignmentHook.s.sol
  packages/protocol/script/upgrade/UpgradeBridge.s.sol
  packages/protocol/script/upgrade/UpgradeERC1155Vault.s.sol
  packages/protocol/script/upgrade/UpgradeERC20Vault.s.sol
  packages/protocol/script/upgrade/UpgradeERC721Vault.s.sol
  packages/protocol/script/upgrade/UpgradeGuardianProver.s.sol
  packages/protocol/script/upgrade/UpgradeScript.s.sol
  packages/protocol/script/upgrade/UpgradeSignalService.sol
  packages/protocol/script/upgrade/UpgradeTaikoGovernor.sol
  packages/protocol/script/upgrade/UpgradeTaikoL1.sol
  packages/protocol/script/upgrade/UpgradeTimelockController.s.sol
  packages/protocol/script/upgrade_to.sh
Due: none

use default button but custom connect & loading
  packages/bridge-ui-v2/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
Due: bridge-ui-v2

chore(bridge-ui-v2): light mode enhancements (#15451)
  packages/bridge-ui-v2/src/components/Card/Card.svelte
  packages/bridge-ui-v2/src/components/Stepper/Step.svelte
  packages/bridge-ui-v2/src/components/Stepper/Stepper.svelte
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/src/styles/utilities.css
  packages/bridge-ui-v2/static/bg/grid-sm.svg
  packages/bridge-ui-v2/static/bg/spotlights-light.svg
  packages/bridge-ui-v2/tailwind.config.js
Due: bridge-ui-v2

update mock
  packages/bridge-ui-v2/__mocks__/@wagmi/core.ts
Due: bridge-ui-v2

fix tests
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.test.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.test.ts
  packages/bridge-ui-v2/src/libs/util/mergeTransactions.test.ts
Due: bridge-ui-v2

light bg fix
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/static/bg/spotlights-light.svg
Due: bridge-ui-v2

update light bg
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/static/bg/grid.svg
  packages/bridge-ui-v2/static/bg/spotlights-light.svg
Due: bridge-ui-v2

minify svgs
  packages/bridge-ui-v2/static/bg/grid-sm.svg
  packages/bridge-ui-v2/static/bg/spotlights-light.svg
  packages/bridge-ui-v2/static/bg/spotlights.svg
Due: none

chore(bridge-ui-v2): update walletconnect (#15453)
  packages/bridge-ui-v2/__mocks__/@wagmi/core.ts
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui-v2/src/components/ThemeButton/ThemeButton.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.test.ts
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.test.ts
  packages/bridge-ui-v2/src/libs/util/mergeTransactions.test.ts
  packages/bridge-ui-v2/src/libs/wagmi/client.ts
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/static/bg/grid-sm.svg
  packages/bridge-ui-v2/static/bg/grid.svg
  packages/bridge-ui-v2/static/bg/spotlights-light.svg
  packages/bridge-ui-v2/static/bg/spotlights.svg
  pnpm-lock.yaml
Due: bridge-ui-v2, repo

tweak background
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/static/bg/grid-dark.svg
  packages/bridge-ui-v2/static/bg/grid-light.svg
  packages/bridge-ui-v2/static/bg/grid-sm.svg
  packages/bridge-ui-v2/static/bg/spotlights-dark.svg
  packages/bridge-ui-v2/static/bg/spotlights.svg
Due: bridge-ui-v2

typo
  packages/bridge-ui-v2/src/i18n/en.json
Due: repo

chore(relayer): add unconvert linter
  packages/relayer/.golangci.yml
Due: repo

chore(relayer): remove unnecessary conversions
  packages/relayer/processor/process_message.go
  packages/relayer/proof/types_test.go
  packages/relayer/repo/event_test.go
  packages/relayer/types_test.go
Due: none

Reinitialize go mod
  go.mod
  go.sum
Due: none
