Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui:
      glob: "packages/bridge-ui/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui svelte:check && pnpm -F bridge-ui lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

Update protocol generated artifacts
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
Due: repo

Update TokenUnlock.sol
  packages/protocol/contracts/layer1/team/TokenUnlock.sol
Due: none

Update SignalService.t.sol
  packages/protocol/test/shared/signal/SignalService.t.sol
Due: none

allow permisionless proposing when forced inclusions are overdue
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Due: none

use internal function _createDerivationSources
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/snapshots/shasta-propose.json
Due: repo

use config for permissionlessInclusionMultiplier
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaDevnetInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaMainnetInbox.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
Due: repo

remove blockNumber from checkpoint struct
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxHelper.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/shared/shasta/iface/ICheckpointStore.sol
  packages/protocol/contracts/shared/shasta/impl/SignalServiceShasta.sol
  packages/protocol/contracts/shared/shasta/libs/LibCheckpointStore.sol
  packages/protocol/gas-reports/LibProposeInputDecoder.md
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/based/libs/LibHashingGasTest.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProvedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/libs/LibHashing.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibHashing.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.t.sol
  packages/protocol/test/shared/shasta/libs/LibCheckpointStore.t.sol
Due: repo

fix bugs and add tests
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractPropose.t.sol
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractPropose.t.sol
Due: repo

more tests
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractPropose.t.sol
Due: repo

feat(protocol): lookahead is not required to be posted in the first slot of an epoch (#20281)
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
Due: none

Update protocol generated artifacts
  packages/protocol/gas-reports/layer1-contracts.txt
Due: none

Update protocol generated artifacts
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
Due: repo

refactor(protocol): improve lookahead store readability and add views for assisting the node (#20253)
  .github/workflows/protocol.yml
  .release-please-manifest.json
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
Due: repo

chore(main): release bridge-ui 2.15.0 (#19437)
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Due: repo

feat(protocol): only process bond instructions when `_blockIndex` is `0` (#20278)
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/docs/Derivation.md
Due: repo

chore(main): release eventindexer 0.13.1
  .release-please-manifest.json
  packages/eventindexer/CHANGELOG.md
  packages/eventindexer/package.json
Due: repo

chore(main): release relayer 0.12.1
  .release-please-manifest.json
  packages/relayer/CHANGELOG.md
  packages/relayer/package.json
Due: repo

feat(taiko-client): changes based on protocol `ICodec` interface
  packages/taiko-client/bindings/shasta/.githead
  packages/taiko-client/bindings/shasta/gen_shasta_inbox.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox_codec.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox_helper.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/scripts/gen_bindings.sh
Due: none

feat: update comments
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/methods.go
Due: none

feat: update scripts
  packages/protocol/script/layer1/devnet/UpgradeShastaL1.s.sol
Due: none

feat(taiko-client): changes based on protocol `ICodec` interface (#20289)
  packages/protocol/script/layer1/devnet/UpgradeShastaL1.s.sol
  packages/taiko-client/bindings/shasta/.githead
  packages/taiko-client/bindings/shasta/gen_shasta_inbox.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox_codec.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox_helper.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/scripts/gen_bindings.sh
Due: none

chore(main): release taiko-alethia-client 2.1.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Due: repo

chore(main): release taiko-alethia-protocol 2.4.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Due: repo

feat: update devnet inbox
  packages/protocol/contracts/layer1/shasta/impl/ShastaDevnetInbox.sol
Due: none

docs: fix incorrect function documentation for EncodeAndCompressShastaProposal
  packages/taiko-client/pkg/utils/utils.go
Due: none

fix oldestForcedInclusionTimestamp calculation
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/snapshots/shasta-propose.json
Due: repo

Update protocol generated artifacts
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
Due: repo

fix typo
  packages/protocol/contracts/shared/shasta/iface/ISignalServiceShasta.sol
Due: none

Update protocol generated artifacts
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaDevnetInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaMainnetInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashSimple.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeInputDecoder.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/shared/shasta/iface/ICheckpointStore.sol
  packages/protocol/contracts/shared/shasta/iface/ISignalServiceShasta.sol
  packages/protocol/contracts/shared/shasta/impl/SignalServiceShasta.sol
  packages/protocol/contracts/shared/shasta/libs/LibCheckpointStore.sol
  packages/protocol/gas-reports/LibProposeInputDecoder.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeShastaL1.s.sol
  packages/protocol/test/layer1/based/libs/CodecGasComparisonTest.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/libs/AbstractCodec.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.t.sol
  packages/protocol/test/shared/shasta/libs/LibCheckpointStore.t.sol
Due: repo

refactor(protocol): remove unreachable zero-proof path; require non-empty proofs in SignalService (#20219)
  packages/protocol/contracts/shared/signal/ISignalService.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/test/shared/signal/SignalService.t.sol
Due: none

Update protocol generated artifacts
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/shared-contracts.txt
Due: none

fix(bridge-ui): correct error message in beforeReleasing method (#20245)
  packages/bridge-ui/src/libs/bridge/Bridge.ts
Due: bridge-ui

docs(taiko-client): fix incorrect function documentation for EncodeAndCompressShast… (#20290)
  packages/taiko-client/pkg/utils/utils.go
Due: none

chore(protocol): change nextProposalBlockId to lastProposalBlockId
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/based/libs/CodecGasComparisonTest.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Consecutive.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProve.t.sol
  packages/protocol/test/layer1/shasta/libs/AbstractCodec.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/AbstractCodec.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol
Due: repo

fix(protocol): fix AbstractProve test logic for lastProposalBlockId semantics
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProve.t.sol
Due: repo
