Repository taikoxyz/taiko-mono: changes, and which lefthook commands are due for each by the changed paths.
All: bridge-ui-v2, protocol_sol, protocol_ts, repo

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    bridge-ui-v2:
      glob: "packages/bridge-ui-v2/**.{js,ts,css,svelte}"
      run: pnpm -F bridge-ui-v2 svelte:check && pnpm -F bridge-ui-v2 lint:fix && git add {staged_files}
    protocol_sol:
      glob: "packages/protocol/**.{sol}"
      run: pnpm -F protocol lint:sol && git add {staged_files}
    protocol_ts:
      glob: "packages/protocol/**.{ts}"
      run: pnpm -F protocol eslint:fix && git add {staged_files}
    repo:
      glob: "**.{json,md,yaml,yml}"
      run: pnpm prettier {staged_files} --write && git add {staged_files}

Add USDC compiled contracts
  packages/protocol/contracts/compiled/FiatTokenProxy.json
  packages/protocol/contracts/compiled/FiatTokenV2_1.json
Due: repo

Update actors_privileges_deployments.md
  packages/protocol/contracts/actors_privileges_deployments.md
Due: repo

lint
  packages/protocol/utils/generate_genesis/erc20.ts
  packages/protocol/utils/generate_genesis/main.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
Due: none

add explanation to compiled contracts
  packages/protocol/contracts/compiled/README.md
Due: repo

Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Due: none

Update ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
Due: none

feat(protocol): Improve and test guardian prover (#15282)
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/provers/Guardians.sol
  packages/protocol/contracts/common/AuthorizableContract.sol
  packages/protocol/contracts/libs/LibDeploy.sol
  packages/protocol/contracts/team/TimelockTokenPool.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/protocol/test/DeployCapability.sol
  packages/protocol/test/L1/Guardians.t.sol
  packages/protocol/test/L1/SgxVerifier.t.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/protocol/test/signal/SignalService.t.sol
  packages/protocol/test/team/TimelockTokenPool.t.sol
  packages/protocol/test/team/airdrop/MerkleClaimable.t.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Due: none

feat(protocol): allow changing Bridged ERC20 token on dest chain (#15288)
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/compiled/FiatTokenProxy.json
  packages/protocol/contracts/compiled/FiatTokenV2_1.json
  packages/protocol/contracts/compiled/README.md
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC20Base.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/IBridgedERC20.sol
  packages/protocol/contracts/tokenvault/adaptors/USDCAdaptor.sol
  packages/protocol/test/tokenvault/BridgedERC20.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Due: repo

rebase
  packages/website/pages/docs/reference/contract-documentation/4844/IBlobHashReader.md
  packages/website/pages/docs/reference/contract-documentation/4844/Lib4844.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoToken.md
  packages/website/pages/docs/reference/contract-documentation/L1/gov/TaikoGovernor.md
  packages/website/pages/docs/reference/contract-documentation/L1/hooks/AssignmentHook.md
  packages/website/pages/docs/reference/contract-documentation/L1/hooks/IHook.md
  packages/website/pages/docs/reference/contract-documentation/L1/provers/GuardianProver.md
  packages/website/pages/docs/reference/contract-documentation/L1/tiers/ITierProvider.md
  packages/website/pages/docs/reference/contract-documentation/L1/tiers/TaikoA6TierProvider.md
  packages/website/pages/docs/reference/contract-documentation/L1/verifiers/GuardianVerifier.md
  packages/website/pages/docs/reference/contract-documentation/L1/verifiers/IVerifier.md
  packages/website/pages/docs/reference/contract-documentation/L1/verifiers/PseZkVerifier.md
  packages/website/pages/docs/reference/contract-documentation/L1/verifiers/SgxAndZkVerifier.md
  packages/website/pages/docs/reference/contract-documentation/L1/verifiers/SgxVerifier.md
  packages/website/pages/docs/reference/contract-documentation/L2/Lib1559Math.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2EIP1559Configurable.md
  packages/website/pages/docs/reference/contract-documentation/bridge/Bridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/IBridge.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressManager.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
  packages/website/pages/docs/reference/contract-documentation/common/AuthorizableContract.md
  packages/website/pages/docs/reference/contract-documentation/common/ICrossChainSync.md
  packages/website/pages/docs/reference/contract-documentation/signal/ISignalService.md
  packages/website/pages/docs/reference/contract-documentation/signal/SignalService.md
  packages/website/pages/docs/reference/contract-documentation/team/TimeLockTokenPool.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/BaseNFTVault.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/BaseVault.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/BridgedERC1155.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/BridgedERC20.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/BridgedERC721.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/ERC1155Vault.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/ERC20Vault.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/ERC721Vault.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/IMintableERC20.md
  pnpm-lock.yaml
Due: repo

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: repo

adapted to new contracts
  packages/bridge-ui-v2/src/abi/index.ts
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/isTransactionProcessable.ts
  packages/bridge-ui-v2/src/libs/bridge/messageStatusPoller.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui-v2/src/libs/storage/BridgeTxService.ts
Due: bridge-ui-v2, repo

feat(protocol): improve DeployOnL1 logs
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/DeployCapability.sol
Due: none

bindings updates
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/contracts/assignmenthook/AssignmentHook.go
  packages/eventindexer/contracts/bridge/Bridge.go
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/relayer/ERC1155Vault.json
  packages/relayer/ERC20Vault.json
  packages/relayer/ERC721Vault.json
  packages/relayer/SignalService.json
  packages/relayer/TaikoL1.json
  packages/relayer/bindings/bridge/Bridge.go
  packages/relayer/bindings/erc1155vault/ERC1155Vault.go
  packages/relayer/bindings/erc20vault/ERC20Vault.go
  packages/relayer/bindings/erc721vault/ERC721Vault.go
  packages/relayer/bindings/signalservice/SignalService.go
  packages/relayer/bindings/taikol1/TaikoL1.go
  packages/relayer/bindings/taikol2/TaikoL2.go
Due: repo

chore(relayer): bindings updates (#15300)
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/contracts/assignmenthook/AssignmentHook.go
  packages/eventindexer/contracts/bridge/Bridge.go
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/relayer/ERC1155Vault.json
  packages/relayer/ERC20Vault.json
  packages/relayer/ERC721Vault.json
  packages/relayer/SignalService.json
  packages/relayer/TaikoL1.json
  packages/relayer/bindings/bridge/Bridge.go
  packages/relayer/bindings/erc1155vault/ERC1155Vault.go
  packages/relayer/bindings/erc20vault/ERC20Vault.go
  packages/relayer/bindings/erc721vault/ERC721Vault.go
  packages/relayer/bindings/signalservice/SignalService.go
  packages/relayer/bindings/taikol1/TaikoL1.go
  packages/relayer/bindings/taikol2/TaikoL2.go
Due: repo

chore(protocol): improve `DeployOnL1` logs (#15301)
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/contracts/assignmenthook/AssignmentHook.go
  packages/eventindexer/contracts/bridge/Bridge.go
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/DeployCapability.sol
  packages/relayer/ERC1155Vault.json
  packages/relayer/ERC20Vault.json
  packages/relayer/ERC721Vault.json
  packages/relayer/SignalService.json
  packages/relayer/TaikoL1.json
  packages/relayer/bindings/bridge/Bridge.go
  packages/relayer/bindings/erc1155vault/ERC1155Vault.go
  packages/relayer/bindings/erc20vault/ERC20Vault.go
  packages/relayer/bindings/erc721vault/ERC721Vault.go
  packages/relayer/bindings/signalservice/SignalService.go
  packages/relayer/bindings/taikol1/TaikoL1.go
  packages/relayer/bindings/taikol2/TaikoL2.go
Due: repo

docs:Update prover-market-page.mdx (#15297)
  packages/website/pages/docs/reference/prover-market-page.mdx
Due: none

bridge paused modal and checks
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/BridgePausedModal/BridgePausedModal.svelte
  packages/bridge-ui-v2/src/components/BridgePausedModal/index.ts
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/util/checkForPausedContracts.test.ts
  packages/bridge-ui-v2/src/libs/util/checkForPausedContracts.ts
  packages/bridge-ui-v2/src/libs/wagmi/watcher.ts
  packages/bridge-ui-v2/src/routes/+layout.svelte
  packages/bridge-ui-v2/src/stores/modal.ts
Due: bridge-ui-v2, repo

feat: update `AuthorizeRemoteTaikoProtocols`
  packages/protocol/script/AuthorizeRemoteTaikoProtocols.s.sol
Due: none

feat(protocol): add `TIMELOCK_ADDRESS` to `SetRemoteBridgeSuites` script
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
Due: none

generator fix
  packages/eventindexer/generator/generator.go
Due: none

fix typos CONTRIBUTING.md
  CONTRIBUTING.md
Due: repo

fix typos README.md
  packages/protocol/contracts/bridge/README.md
Due: repo

fix typos actors_privileges_deployments.md
  packages/protocol/contracts/actors_privileges_deployments.md
Due: repo

fix typos L2EIP1559.md
  packages/protocol/docs/L2EIP1559.md
Due: repo

fix typos how_taiko_proves_blocks.md
  packages/protocol/docs/how_taiko_proves_blocks.md
Due: repo

fix typos README.md
  packages/starter-dapp/README.md
Due: repo

feat(protocol): add `TIMELOCK_ADDRESS` to `SetRemoteBridgeSuites` script (#15310)
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
Due: none

renam init function names
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/gov/TaikoGovernor.sol
  packages/protocol/contracts/L1/gov/TaikoTimelockController.sol
  packages/protocol/contracts/L1/hooks/AssignmentHook.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/tiers/TaikoA6TierProvider.sol
  packages/protocol/contracts/L1/verifiers/GuardianVerifier.sol
  packages/protocol/contracts/L1/verifiers/PseZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxAndZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/common/OwnerUUPSUpgradable.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/team/TimelockTokenPool.sol
  packages/protocol/contracts/team/airdrop/ERC20Airdrop.sol
  packages/protocol/contracts/team/airdrop/ERC20Airdrop2.sol
  packages/protocol/contracts/team/airdrop/ERC721Airdrop.sol
  packages/protocol/contracts/tokenvault/BaseVault.sol
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/adaptors/USDCAdaptor.sol
  packages/protocol/test/L1/Guardians.t.sol
  packages/protocol/test/common/EssentialContract.t.sol
Due: none

Update IBridgedERC20.sol
  packages/protocol/contracts/tokenvault/IBridgedERC20.sol
Due: none

fix: fix an issue in `SetRemoteBridgeSuites`
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
Due: none

fix: fix SetRemoteBridgeSuites
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
Due: none

fix: fix SetRemoteBridgeSuites (#15312)
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
Due: none
